[2015-11-13 23:43] fboldog opened #1 "Empty array when sync started without working JDK setup."
Empty array (and ArrayIndexOutOfBoundsException) when sync started without working JDK setup.
https://github.com/cbeust/kobalt-intellij-plugin/blob/master/src/com/beust/kobalt/intellij/KobaltProjectComponent.kt#L190

[code]

[2016-01-11 07:41] pabl0rg opened #2 "server process uses 100% of a cpu core"
On IJ2014 (i have an ultimate license for that version), the Kobalt plugin starts a server process that uses up 100% of a cpu core.

<img width="1178" alt="screen shot 2016-01-11 at 1 38 45 am" src="https://cloud.githubusercontent.com/assets/10501896/12228668/59856586-b804-11e5-9877-770acb4b6648.png">

[2016-01-11 08:16] pabl0rg commented on #2
I tried the same project on IJ 2015 CE and have had no problems so far.

[2016-01-11 14:57] cbeust commented on #2
I have observed such processes occasionally as well, I'll take a look.

##

Cédric

On Mon, Jan 11, 2016 at 12:16 AM, pabl0rg notifications@github.com wrote:

[2016-01-13 08:19] pabl0rg opened #3 "dependent projects in same path generate incorrect modules in IJ"
I have a mixed java/kotlin project.  In order to build it with Kobalt, I have to define it as two projects.  When I sync the build file with the intellij plugin, it modifies my project structure adding modules for the two projects.  Since the two projects are in the same folder, i end up with two modules that have the same source root which IJ does not allow.

<img width="409" alt="screen shot 201

[2016-01-13 08:24] pabl0rg commented on #3
PS. My build file is in /Users/juanliska/Documents/startrack/code/backend-2/kobalt/src/Build.kt

A better content root would be /Users/juanliska/Documents/startrack/code/backend-2/

[2016-01-16 20:54] antonarhipov opened #4 "KobaltProjectComponent throws kotlin.KotlinNullPointerException"
When opening a project that was initialized with Kobalt, an exception is thrown.
Plugin version: 1.35

com.beust.kobalt.intellij.KobaltProjectComponent@76890016
kotlin.KotlinNullPointerException
    at com.beust.kobalt.intellij.BuildModule.addBuildModule(BuildModule.kt:69)
    at com.beust.kobalt.intellij.BuildModule.maybeAddBuildModule(BuildModule.kt:28)
    at com.beust.kobalt.intellij.BuildModu

[2016-01-30 14:36] pabl0rg commented on #3
fixed in .404

[2016-01-30 14:38] cbeust commented on #3
I'm surprised to hear that, I can't think of anything I added in the latest
versions that could have fixed this.

##

Cédric

On Sat, Jan 30, 2016 at 6:36 AM, pabl0rg notifications@github.com wrote:

[2016-01-30 14:49] pabl0rg commented on #3
Doh, i closed the wrong ticket.

[2016-02-04 13:53] juherr opened #5 "Could not build: Couldn't resolve org.jetbrains.kotlin:kotlin-stdlib:1.0.0-beta-4584"
[code]

I'm behind an http proxy and IntelliJ has its configuration.

[2016-03-13 02:36] sargunster opened #6 "ArrayIndexOutOfBoundsException"
Happens ~~whenever~~ sometimes when I sync the Kobalt build file on any Kobalt project:

[code]

[2016-03-13 02:40] sargunster opened #7 "Couldn't connect to server on port 1234"
~~Happens whenever I open the Build.kt on any Kobalt project.~~
Happens when I sync the Kobalt build file now...

[code]

[2016-03-13 02:55] sargunv commented on #7
[code]

[2016-03-13 03:02] sargunv commented on #6
Seems to be a duplicate of #1

[2016-03-13 03:02] #6 closed

[2016-04-21 04:25] aneophyte opened #10 "Not downloading the latest Kobalt distribution"
Cleaned the distribution directory a few times to confirm. It downloads version 0.742 every time and not the latest, 0.743. Using plugin version 1.50.

[2016-05-02 17:35] cbeust opened #18 "Restore the Ctrl-Alt-k keyword"
Since we're deprecating the Sync Build File action, it would be nice to get this shortcut back on the sync icon in the tool window.

/cc @dmitry-zhuravlev

[2016-05-02 18:23] dmitry-zhuravlev commented on #18
Ok, I'll check the possibility to assign this shortcut to tool window sync.

[2016-05-05 16:04] cbeust opened #20 "Current plug-in incompatible with 2016.1.2 RC2"
Probably not very important but thought I'd mention it:

![image](https://cloud.githubusercontent.com/assets/92322/15048889/f09dd1a4-1297-11e6-955e-0a60ba849783.png)

/cc @dmitry-zhuravlev

[2016-05-05 16:22] dmitry-zhuravlev commented on #20
Yeach, I added restriction to the latest release version because you told me that there is some problems while try to sync project in EAP build...  Not tested EAP yet. Maybe it will be more reasonable to test it against 2016.1.2 after general availability, just to eliminate possible changing in API which usually take place in EAP very often.

[2016-05-05 16:50] cbeust commented on #20
The problems I reported were entirely my fault (I was using an old Intellij
SDK to run the plug-in), so you can discard my observation. Feel free to
remove the restrictions.

##

Cédric

On Thu, May 5, 2016 at 8:23 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-05 17:48] cbeust opened #21 "Current implementation no longer uses the libraries"
I notice that the Libraries created by the plug-in are no longer used:

![image](https://cloud.githubusercontent.com/assets/92322/15051701/6b46ceca-12a6-11e6-815b-31a1805bb26c.png)

and instead, these dependencies are added directly to each module:

![image](https://cloud.githubusercontent.com/assets/92322/15051707/75f5dc94-12a6-11e6-9694-5d5ec9bad178.png)

Was that intentional? I'm fine with that

[2016-05-05 20:37] cbeust opened #22 "Exception in Initializer when running a task"
I double clicked on the "run" task of the Kobalt project:

[code]

[2016-05-05 20:37] cbeust commented on #22
/cc @EddieRingle

[2016-05-05 21:27] cbeust commented on #22
Note that this crash only happens on Kobalt and not a simpler project (e.g. Klaxon). Might be due to the fact that Kobalt has multiple modules?

The problem is at this line in `KobaltTaskManager`:

[code]

`projectPath` is being passed as the `Build.kt` path instead of the project's, but I'm not sure where that string is coming from since it's invoked by IDEA itself.

Also, for some reason, most o

[2016-05-06 08:51] dmitry-zhuravlev commented on #22
I've checked and got another exception:

`WARN: Call GetDependencies for build file C:\Users\dzhuravl\IdeaProjects\kobalt\kobalt\src\Build.kt
[  76908]   WARN - ution.rmi.RemoteProcessSupport - ERROR: Couldn't call getDependencies() on the server: <html><body><h2>500 Internal Error</h2></body></html>`

It seems that server always return 500 for kobalt build file. Tested on the latest kobalt-0.761.

[2016-05-06 09:40] dmitry-zhuravlev commented on #22
Here is more detailed log from external server launched (without IDEA plugin):

`java -jar kobalt-0.761.jar --log 3 --force --dev --server
URL for core kobalt-plugin.xml: jar:file:/C:/Users/dzhuravl/.kobalt/wrapper/dist/kobalt-0.761/kobalt/wrapper/kobalt-0.761.jar!/META-INF/kobalt-core-plugin.xml
Parsed plugin XML file, found: kobalt
              __ __           __              __   __

[2016-05-06 09:58] dmitry-zhuravlev commented on #21
At the moment IDEA handle all lifecycle of library create\attach\dispose together with module. So there is no need to do it manually. Hence Dependencies.kt not needed any more. I'll delete it.

Also there is more convinient to see in the module exact dependencies which module have and not dependencies grouped by scope. Because you can quickly navigate to particular jar from "Project view" and from

[2016-05-06 09:58] #21 closed

[2016-05-06 13:46] dmitry-zhuravlev opened #23 "Enhance TaskData with task group information"
Current task data returned from server is
`class TaskData(val name: String, val description: String)`
Nullable task group field should be added:
`class TaskData(val name: String, val description: String, val taskGroup: String?)`

Kobalt server should provide task group information.
This information will be used in Kobalt tool window. All tasks will be rearranged by its group. If no group specified

[2016-05-06 13:50] cbeust commented on #22
This seems to be happening in the `readVersion()` function of the build
file, but I don't see what could be throwing this `matching predicate`
error in that function:

[code]

##

Cédric

On Fri, May 6, 2016 at 2:40 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-06 13:51] cbeust commented on #22
Can you just comment out the `@Task` in the build file and try again? This
way this task will no longer run and we'll see if this fixes the problem.
If it does, then we know for sure this function is the problem.

##

Cédric

On Fri, May 6, 2016 at 6:49 AM, Cédric Beust ♔ cedric@beust.com wrote:

[2016-05-06 13:56] pabl0rg opened #24 "plugin does not add file dependencies to project structure"
all of my maven dependencies get added but compile(file("x:y:z")) dependencies do not get added to the project structure which leads to red in many places

[2016-05-06 14:01] dmitry-zhuravlev commented on #24
Could you please attach a sample project to reproduce?
Also which version of plugin do you use?

[2016-05-06 14:13] dmitry-zhuravlev commented on #22
Commenting out @Task doesn't help. But commenting out readVersion() seems to do the trick. However still not succeed because I have "Socket read timeout" exception since internet connection very slow to get all dependencies for the Kobalt project. I'll recheck it with a good connection.

[2016-05-06 14:15] cbeust commented on #22
That's very strange, if you remove @Task than `readVersion` should no
longer be invoked...

##

Cédric

On Fri, May 6, 2016 at 7:13 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-06 14:16] cbeust commented on #22
Oh wait of course it gets invoked from other tasks...

[code]

##

Cédric

On Fri, May 6, 2016 at 7:15 AM, Cédric Beust ♔ cedric@beust.com wrote:

[2016-05-06 14:18] dmitry-zhuravlev commented on #22
Yes, I comment out "readVersion()" and all it's calling from project{} and after second reimport it works!

[2016-05-06 14:21] cbeust commented on #22
Ok so I'll debug what's wrong with readVersion().

Is that what's causing the Exception In Initializer?

##

Cédric

On Fri, May 6, 2016 at 7:18 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-06 14:22] dmitry-zhuravlev commented on #22
Checked "run" execution and it also works. Please recheck because I made some changes in TaskManager.

[2016-05-06 15:44] cbeust commented on #21
Understood, thanks for the clarifications! Feel free to delete the old
files whenever convenient.

##

Cédric

On Fri, May 6, 2016 at 1:58 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-06 15:45] cbeust commented on #23
Yup, will take care of it.

[2016-05-06 15:54] cbeust commented on #22
I haven't seen any changes from you in `TaskManager`, did you send a PR?

The bug in `readVersion()` is probably coming from `first()` but I can't test that since I get the initializer error even before the build file is run.

[2016-05-06 16:28] #23 closed

[2016-05-06 16:29] cbeust commented on #23
Groups are now being sent from the server, I defined a few, let me know if we need more.

[2016-05-06 16:32] cbeust commented on #22
Ok I pulled your changes but still seeing the initializer error (and still not seeing the `readVersion` error you are seeing).

[2016-05-06 16:52] pabl0rg commented on #24
done
https://github.com/pabl0rg/kobalt-mixed-example

after syncing the build file, these are the dependencies added to the project structure (jrobin is missing)
<img width="680" alt="screen shot 2016-05-06 at 10 51 30 am" src="https://cloud.githubusercontent.com/assets/10501896/15079920/9c5a7e9e-1378-11e6-80b4-48a11598e430.png">

[2016-05-06 18:08] dmitry-zhuravlev commented on #22
Just tried the same on another machine: It seems that 'readVersion' not a root of the problem. Because comment it out doesn't solve the problem.
But if I start server like standalone one "java -jar kobalt-07..." and try to get dependencies - all works.
And after kill standalone one and run from plugin it also works even with "readVersion" function.... some mystic problem... And I don't have initia

[2016-05-06 18:18] cbeust commented on #22
Note that I made a bunch of improvements in both kobalt and the plug-in, which should solve some errors we've been seeing (not sure about this specific one). Make sure you pull the latest.

[2016-05-06 18:19] cbeust commented on #24
I know what's going on. Until I fix it, the workaround is to specify an absolute path:

[code]

[2016-05-06 19:02] cbeust opened #25 "Handle bad build files better"
If there is a syntax error in the build file, syncing produces an unhelpful error message.

This requires some tweaking on both kobalt and the plug-in, but I'll take care of both.

[2016-05-06 20:45] #24 closed

[2016-05-06 20:50] cbeust commented on #24
Uploaded a new version of the plug-in to the channel.

[2016-05-06 21:11] cbeust opened #26 "The plug-in doesn't seem to launch its server properly"
Trying to import aproject or sync a build file when no server is running results in an error.

However, if I launch a server manually, both imports and syncs work fine (@kmruiz saw the same thing).

It looks like the plug-in is not launching its own server correctly.

/cc @kmruiz

![image](https://cloud.githubusercontent.com/assets/92322/15086263/fb97ee7e-138b-11e6-9bc7-1a993cb0aba3.png)

[2016-05-06 22:06] dmitry-zhuravlev commented on #20
Checked on 145.970 and it works.
Removed upper bound in 53b897a

[2016-05-06 22:06] #20 closed

[2016-05-06 22:22] dmitry-zhuravlev commented on #26
Just to check some assumption, try the following:
1) Close all instances of IDEA and execute in shell: `lsof -i 4tcp:1246 -sTCP:LISTEN`
2) Kill founded process by executing: `kill -9 <PID>` where <PID> is the pid of founded process
3) Launch IDEA with plugin and press refresh button in Kobalt's tool window

It seems that this workflow helps me to overcome mentioned problem.
The assumption is that

[2016-05-07 15:49] cbeust opened #27 "When a kobalt.jar is downloaded, start a new server"
I added a new "quit" command to the server:

https://github.com/cbeust/kobalt/blob/master/src/main/kotlin/com/beust/kobalt/app/remote/SparkServer.kt#L32

Whenever the plug-in downloads a new kobalt.jar file, it should:
- Send a "quit" to the existing server
- Start a new server with the jar file that was just downloaded

This should fix a few problems we've seen with trying to contact old servers

[2016-05-08 17:03] dmitry-zhuravlev commented on #27
@cbeust It seems that simple `Spark.stop()` isn't enough... If I call with retrofit this method it produce:

`[  48171]  ERROR - ellij.project.impl.ProjectImpl - Failed to connect to localhost/0:0:0:0:0:0:0:1:1246
java.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:1246
    at okhttp3.internal.io.RealConnection.connectSocket(RealConnection.java:142)
    at okhttp3.internal.io

[2016-05-08 17:50] dmitry-zhuravlev commented on #26
Indeed, 500 server error produced in cases of already started server. Can be reproduced as following:
1) Run "refresh" on some Kobalt project
2) After successfull "refresh" execute GET request with `buildFile` param which is differ from `Build.kt` located in refreshed project and you got 500 error.

@cbeust In general this means that server does't support several Build.kt files (from different pla

[2016-05-08 18:24] cbeust commented on #26
Yes, I've been improving this part to be reentrant (allowing multiple
builds at the same time) but not quite there yet.

I'll fix it eventually but I don't think it's the most important thing
right now, since simultaneous builds should be rare. Let's just make sure
that for single builds, the plug-in + server interaction is rock solid.

##

Cédric

On Sun, May 8, 2016 at 9:50 AM, Dmitry Zhuravlev

[2016-05-08 18:31] cbeust commented on #27
Ah good point.

##

Cédric

On Sun, May 8, 2016 at 9:03 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-05-08 18:38] kmruiz commented on #26
I usually have the kobalt project, my plugin and a sample project open so it's annoying because all of them use kobalt for building themselves. But I agree with @cbeust that probably the priority is to work without problems with only one project, because it's the common case.

@dmitry-zhuravlev Could be possible for the plugin to negotiate with Kobalt in which port the server is going to listen? W

[2016-05-08 20:04] dmitry-zhuravlev commented on #26
Currently port for server start obtained from properties which located in home directory. So in theory it is posible to implement server start with port passed with parameter. But I think that launching each time a new server instance for each oppened in IDEA project not a good way since will lead to open unnecessary java processes which already more than one (server process+IDEA external api proc

[2016-05-09 00:39] cbeust commented on #27
Mmmh there seem to be various issues when trying to shut down a Spark Server (e.g. https://groups.google.com/forum/#!topic/sparkjava/7NKAHbV92so )

Calling `stop()` before responding fails and obviously, you can't do it the other way around. The following hack appears to work but it's pretty ugly:

[code]

[2016-05-09 00:50] cbeust commented on #27
The code above is now in the latest Kobalt.

[2016-05-10 19:12] dmitry-zhuravlev opened #28 "Wrapper files in project dir"
Every time when some Kobalt tasks executed within IDEA the following directories and files created:

{PROJECT_HOME_DIR}/kobalt/src/wrapper
{PROJECT_HOME_DIR}/.kobalt
{PROJECT_HOME_DIR}/kobaltw

But after distribution update in {HOME}/.kobalt/wrapper/dist the wrapper version in {PROJECT_HOME_DIR} becomes outdated and this lead to some version hell...

@cbeust  So the question is: do we really need

[2016-05-10 21:00] cbeust commented on #28
Generating these in the project allows that project to have its own
independent Kobalt version. I think this scheme (which Gradle uses) works
well.

What kind of dependency hell are you referring to? Let's try to fix that
instead.

##

Cédric

On Tue, May 10, 2016 at 11:12 AM, Dmitry Zhuravlev <notifications@github.com

[2016-05-11 08:29] dmitry-zhuravlev commented on #28
The problem is with version mismatch between wrapper existing in the project and new distribution which plugin downloads and install. After downloading a new distribution plugin updates "Build.kt" module with a new "kobalt.jar". Maybe we shouldn't always download a new distribution but only with a user permit? If user wants to download and install a new version then a wrapper inside the project sh

[2016-05-11 08:33] dmitry-zhuravlev commented on #28
Also Gradle have much less files in wrapper:

 gradlew
  gradlew.bat
  gradle/wrapper/
    gradle-wrapper.jar
    gradle-wrapper.properties

But Kobalt beside simmilar files have also:
![image](https://cloud.githubusercontent.com/assets/6297697/15174816/16b0cf44-176c-11e6-8b76-6859f69ea678.png)

Maybe this set of files for wrapper could be somehow minimized?

[2016-05-11 12:04] cbeust commented on #28
The one discrepancy between what Kobalt does when it updates itself and how the IDEA plug-in updates is that the IDEA plug-in probably doesn't update `wrapperVersion.txt`, so we should fix that.

Other than that, can you give a concrete example of a problem? What happened? Did something crash?

[2016-05-11 12:19] dmitry-zhuravlev commented on #28
Updating `wrapperVersion.txt` isn't enough I think, because wrapper itself can be changed since update.

Not really crash. It works. But the problem is in update itself. Just downloading a new distribution not enough without wrapper update. But if we update everytime wrapper that means that we don't need wrapper :)
As I understand the main purpose of wrapper (like in Gradle) is to hold the given v

[2016-05-11 12:25] cbeust commented on #28
Actually, the only reason for the wrapper is that without it, it's much harder to update. For example, if you invoke the following code:

[code]

then that code is not guaranteed to be able to update `foo.jar` since it's in use by the current process (will fail on Windows for sure).

One potential workaround could be that the code would spawn a process that will update that jar file once the first

[2016-05-11 12:33] cbeust commented on #28
Amending my post above.

Actually, the main value is more that you can switch the version number by editing a text file (`kobalt-wrapper.properties`). I think this is desirable.

Can we maintain this functionality without `kobalt-wrapper.jar`?

[2016-05-11 14:33] dmitry-zhuravlev commented on #28
I think that we shouldn't completelly remove wrapper, otherwise how user can prevent update to the latest version if he didn't want to do so?

[2016-05-11 16:11] cbeust commented on #28
That's my impression too, I can't think of another way to do this without a wrapper but just checking to make sure I'm not missing an obvious alternative.

[2016-05-12 13:28] dmitry-zhuravlev opened #29 "Changes in Kobalt templates"
I've checked the templates which comes with Kobalt (java, kotlin, kobalt plugin)
and at the moment there is 2 isues which prevents it from integration:

1) Template should be configurable. At least "group" and "version".
2) Kobalt should generate source and test dirs under ${MODULE_NAME}/src and not within ${PROJECT_BASE_DIR}/src. Where ${MODULE_NAME} is the folder in the same hierarchy level like

[2016-05-12 16:06] cbeust commented on #29
1. Not sure I follow, can you elaborate? Do you mean that templates should belong to a group (like tasks) and have a version number?
2. This can't always be done since templates can be invoked when the project is completely empty (no build files, no source files).

In the case where the template is run on an existing project with `Build.kt`, it's still possible that it's a single project (just one

[2016-05-20 17:56] pabl0rg opened #30 "Help reviewing steps to IJ plugin success"
I tried using the new kobalt IJ plugin to make a kobalt project and was unable to.  I usually use the cli for kobalt, and find it is simple to use.

So I'm trying to make a gist to nail down the steps to get a kobalt project working, but I'm stuck in the last part (getting the IJ plugin to show me the sync build file option).

Could you please review these steps and tell me where i'm going wrong?

[2016-05-20 18:17] dmitry-zhuravlev commented on #30
Hi @pabl0rg
Please se my comments here https://github.com/cbeust/kobalt/issues/201

[2016-05-21 01:05] pabl0rg commented on #30
Hi @dmitry-zhuravlev

That is an interesting thread, thanks.  We usually compile and test from the command line and I noticed that when I make a new project with the IJ Kobalt plugin, kobaltw and kobalt-wrapper.properties are not recorded in the project folder, so our usual compilation does not work (running ./kobalw assemble for instance).

Are we doing something wrong?  Is there a better way?

T

[2016-05-21 08:42] dmitry-zhuravlev commented on #30
Hi @pabl0rg,
You noticed right. Plugin works without wrapper. There is no need to create this additional wrapper process when plugin works. However I understand that wrapper is a good way if you works from command line. @cbeust So I think we need some extra Kobalt task to init wrapper like Gradle have.

[2016-05-23 21:28] sostrack opened #31 "Error when starting, building, executing and any kobalt related action."
Hello,

I have a few issues when running the kobalt plugin on intellij.
On launch, and on any operation I get a **"Unable to save settings. Failed to save. Please restart IntelliJ Idea"** error

I also have the following problem when running the kobalt plugin on intellij:

[code]

[2016-05-23 22:15] cbeust commented on #31
Ping @dmitry-zhuravlev

[2016-05-24 10:42] dmitry-zhuravlev commented on #31
Hello @sostrack
Seems like duplication of https://github.com/cbeust/kobalt/issues/201
Still not recommend to use --init idea because it generates some old format.
Consider to use IDEA wizzard like explained in https://github.com/cbeust/kobalt/issues/201
or you could do the following:
1) kobaltw --init kotlin
2) Open project with IDEA and then import detached Kobalt project:
![image](https://cloud.

[2016-05-24 10:53] dmitry-zhuravlev commented on #31
FYI created https://github.com/cbeust/kobalt/issues/208

[2016-05-28 13:40] yoavst opened #32 "Can't refresh a new project from the wizard"
Create a regular project (kotlin + java) from the wizard, and tried to sync the project:
`Error:com.intellij.execution.configurations.SimpleJavaParameters.toCommandLine()Lcom/intellij/execution/configurations/GeneralCommandLine;`

If trying to set to another kobalt jar directory, it says:
`Error:Illegal char <:> at index 45: C:\Users\yoavst\.kobalt/wrapper/dist/kobalt-C:/My Program Files/kobalt/ko

[2016-05-28 16:45] sargunster opened #33 "Can't import a Kobalt project into IntelliJ"
I'm getting this error when trying to import a freshly cloned project:
`com.intellij.execution.configurations.SimpleJavaParameters.toCommandLine()Lcom/intellij/execution/configurations/GeneralCommandLine;`

Steps to reproduce
 - Clone a repo (I tried with https://github.com/pokesource/PokeKotlin)
 - Launch IntelliJ
 - Try to import the project

[2016-05-28 18:11] cbeust commented on #33
I just saw this error as well but I wasn't able to repeat it after that (tried with both the binary plug-in and the development one as well).

[2016-05-28 18:13] sargunv commented on #33
I'm getting the error every time, with the latest version of IntelliJ and the plugin.

[2016-05-28 18:15] sargunv commented on #33
Here's a log if that helps: http://pastebin.com/raw/QCTsmjXE

[2016-05-29 00:13] cbeust commented on #33
I deployed a new version which seems to fix the problem for me, even though I'm not sure I did anything.

That new version displays a different error but it seems to sync fine at least, I'll file a separate issue for it.

@sargunster Can you update and report back?

[2016-05-29 00:15] cbeust opened #34 "AssertionError when syncing"
Syncing produces:

[code]

The error message has an error ("exists" instead of "exist") but it seems to come from IDEA itself, not the Kobalt plug-in.

Also, each sync causes the "Kotlin not configured" banner to appear and I end up having to click the hyperlink to re-configure it. I'm using the latest 2016.2.

The full stack trace:

[code]

[2016-05-29 00:19] sargunv commented on #33
Yep, seems to work now. Thanks!

[2016-05-29 00:20] sargunv commented on #33
BTW, this also fixed #32

[2016-05-29 02:34] sargunster opened #35 "New project "Next" button does nothing"
From the IntelliJ welcome screen, I select "Create new project". I then select Kobalt and check Kotlin, and click next. The next button does nothing. The log shows a NullPointerException every time I click the button:

http://pastebin.com/raw/b9RqWVY1

Another related stack trace:

http://pastebin.com/raw/hh6zKSfn

Making the folder structure manually (or copying from another project) and using th

[2016-05-29 02:36] sargunv commented on #35
Actually, it seems to not be changing the pane on the right at all when I select the Kobalt option. It remains the same as whatever pane was open before it.

[2016-05-29 02:41] cbeust commented on #35
Haven't seen that one. @dmitry-zhuravlev, any thoughts?

[2016-05-29 06:06] sargunster opened #36 "Can't compile a project with multiple modules"
I'm having trouble compiling a project with two modules from the plugin. It builds fine from the command line. The problem is that the plugin only allows running compile for a single module, not for the whole project. So while from the command line I can do `./kobaltw compile`, the plugin does the equivalent of `./kobaltw PokeKotlin:compile` which doesn't compile the project it's dependent on.

He

[2016-05-29 12:52] dmitry-zhuravlev commented on #36
Yes, it is a general problem. Because Kobalt doesn't consider dependent modules when you run module related task. @cbeust Maybe Kobalt should consider dependent project when run task for one of the module, like Gradle does? @sargunster At the moment like a workaround you can create Kobalt run configuration and there define "compile" task which will executes for the whole Build.kt file.

[2016-05-30 08:35] dmitry-zhuravlev commented on #35
I was able to reproduce this problem only when I install the plugin from JB repository. If Itry to build it from source and install from the disk it works.
Here is my distribution which I have build:
[kobalt-intellij-plugin.zip](https://github.com/cbeust/kobalt-intellij-plugin/files/289164/kobalt-intellij-plugin.zip)

@cbeust   Maybe some corrupted version for some reason was uploaded to the repos

[2016-05-30 09:21] dmitry-zhuravlev commented on #34
Actyally this checking happens asynchronously and could happen before Build.kt module configured. This can be simple ignored if the Build.kt module configured properly.

But assertion problem looks not good. Do you have some steps how to reproduce it?

[2016-05-30 09:26] dmitry-zhuravlev commented on #32
Duplication of #33

[2016-05-30 09:26] #32 closed

[2016-05-30 14:05] cbeust commented on #34
I'm trying to sync and build `http://github.com/cbeust/klaxon` when this happens. And actually, I'm seeing a different error now trying to reproduce this problem, I'll file a separate issue.

[2016-05-30 14:05] cbeust opened #37 ""SDK should be configured" error when syncing"
Trying to sync http://github.com/beust/klaxon always produces:

[code]

[2016-05-30 14:06] cbeust commented on #34
Done: https://github.com/cbeust/kobalt-intellij-plugin/issues/37

[2016-05-30 14:09] DevCharly opened #38 "NPE in KobaltFrameworksWizardStep"
I'm getting the NPE below when invoking "File > New > Project..." (plugin version 1.107; IDEA 2016.1.2). Looking at the source code, it seems that `myFrameworksPanelPlaceholder` is never initialized.
[code]

[2016-05-30 14:09] cbeust commented on #37
That's weird:

[code]

Why would it be using such an old version? The minimum is much higher:

[code]

[2016-05-30 16:31] dmitry-zhuravlev commented on #38
Duplicate of #35 Please reinstall plugin from zip archive and check if it help you.

[2016-05-30 16:31] #38 closed

[2016-05-30 16:46] dmitry-zhuravlev commented on #37
Hm... Which state do you have in "Auto download Kobalt" checkbox? Can be found in Settings-> Build tools -> Kobalt. If this checkbox unchecked that means that some old version (configured previously) will taken.

Regarding "SDK not found" I'll try to reproduce...

[2016-05-30 18:48] sargunster opened #39 "The plugin doesn't install Kobalt for new users"
The plugin can't be used unless the user has installed Kobalt before.

1) Delete `~/.kobalt`
2) Launch IntelliJ
3) Attempt to create a new Kobalt project

This also happens when the user tries to specify a Kobalt version in the plugin that's different from a version that's installed.

Ideally, the plugin should handle the installation for the user, so a new user can simply install the plugin and u

[2016-05-30 19:13] sargunv commented on #33
This problem is happening again ):

[2016-05-30 19:23] DevCharly commented on #36
There is now a related Kobalt issue cbeust/kobalt#212

@dmitry-zhuravlev could you please consider to add tasks-without-project to the Kobalt view. E.g. an additional node "All" node in the tree with tasks as children.

[2016-05-30 19:26] dmitry-zhuravlev commented on #39
Agree, I'll improve this...

Could you please explain this sentence? Usually if you try to change Kobalt distributions which is already present in ~/.kobalt directory you can do it....

[2016-05-30 19:28] dmitry-zhuravlev commented on #36
This should be added in a project model which send Kobalt server first. At the moment all task in this model relates to some project and not to the general scope of the build.

[2016-05-30 19:30] sargunv commented on #39
Say the user has only Kobalt 0.789 in ~/.kobalt but in the new project wizard enters the path for 0.792 (which doesn't exist). This is the similar to Kobalt not being installed at all, the plugin still needs to install 0.792.

[2016-05-30 19:32] dmitry-zhuravlev commented on #39
Yep, thank you. Now it is clear for me. I'll try to improve this.

[2016-05-30 19:59] cbeust commented on #36
@dmitry-zhuravlev Are you saying that it's the Kobalt server that should be sending you this information?

I'm guessing if we have projects `p1` and `p2`, the server should send three sets of tasks:
1. Tasks for all projects
2. Tasks for `p1` only
3. Tasks for `p2` only

Would that fix the problem?

[2016-05-30 20:06] cbeust commented on #36
Actually, this can be done at the IDEA plug-in level. Right now, each project data I send to the plug-in contains the tasks for this project:

[code]

Once you receive this data, you can create the list of all available tasks by simply keeping everything after `:`, which would give you `compile, assemble, someOtherTask`.

No need for the server to send you additional information.

@dmitry-zhuravle

[2016-05-30 20:49] dmitry-zhuravlev commented on #36
But if user define some custom task for particular project I guess it shouldn't be added to "all project" scope. It is not clear how to distinguish custom tasks from tasks like "compile" which also exist for all projects. Thats why I think server should send "Tasks for all projects" in this case.

 And I need to recheck if adding tasks in "All" node even possible with external API...

[2016-05-30 20:51] cbeust commented on #36
Ok, I can add this to Kobalt itself.

[2016-05-31 12:28] #39 closed

[2016-05-31 12:34] dmitry-zhuravlev commented on #39
@sargunster  For now the plugin will download the newest version if "Always download and apply new versions of Kobalt" is checked. Otherwise this checkbox can be unchecked and other Kobalt version can be chosen.

[2016-05-31 22:55] DevCharly commented on #33
@dmitry-zhuravlev it seems that you have not checked in the packages `com.beust.kobalt.intellij.model.data` and `com.beust.kobalt.intellij.project.view`. They are in your JAR, but not in git

[2016-06-01 06:40] dmitry-zhuravlev commented on #33
@devcharly: Classes mentioned by you shouldn't checked in git. It was some investigation from my side and shouldn't affect the work of the plugin. I'll remove it and recheck once again.

[2016-06-01 09:14] dmitry-zhuravlev commented on #36
Commited some preparation stuff for creating task nodes for all projects. @cbeust Ping me after you add tasks in server response payload and I'll add it in tool window tree.

[2016-06-01 10:35] dmitry-zhuravlev commented on #33
Here is my build without this classes.
[kobalt-intellij-plugin.zip](https://github.com/cbeust/kobalt-intellij-plugin/files/293172/kobalt-intellij-plugin.zip)

The mentioned problem wasn't reproduced with this distribution of plugin.

After looking in log http://pastebin.com/raw/QCTsmjXE I found that java.lang.NoSuchMethodError caused by plugin SDK mismatch.

@cbeust try to build plugin with exactl

[2016-06-01 12:19] DevCharly commented on #33
Hm, but shouldn't fail the compiler if Cedric's IntelliJ does not have that method?

BTW if this plug-in depends on IDEA 2016.1, then `<idea-version since-build="131"/>` in `plugin.xml` should be changed to 145 too avoid that users can install it in IDEA 15 or older.

[2016-06-01 13:00] DevCharly commented on #33
Had a look at the byte code of both versions.

Cedric's version directly calls into IDEA API `com.intellij.execution.configurations.SimpleJavaParameters.toCommandLine()`

Dmitry's version on the other hand invokes `ServerUtil$Companion.toCommandLine`

Can the used Kotlin compiler version have any effect?

<img width="816" alt="2016-06-01_14-43-49" src="https://cloud.githubusercontent.com/assets/56

[2016-06-01 16:57] cbeust commented on #36
Done. I updated both Kobalt (0.798) and the plug-in with the new payload. `GetDependenciesData` now has an additional field `allTasks`:

[code]

[2016-06-01 17:00] dmitry-zhuravlev commented on #33
@DevCharly Good point!
Now it is clear for me what happens:
It seems that @cbeust compiles against EAP builds. In EAP there is SimpleJavaParameters.toCommandLine() method. But I also have an extension toCommandLine() in ServerUtil class. Methods defined in class always wins (have priority over extensions) thats why plugin compiled with EAP version uses SimpleJavaParameters.toCommandLine() but it b

[2016-06-01 17:02] cbeust commented on #33
@dmitry-zhuravlev Good catch.

What do you recommend I should do? I'm currently building (and shipping) against:

![image](https://cloud.githubusercontent.com/assets/92322/15718372/860d0b8e-27d7-11e6-81bd-eac09e91ad29.png)

[2016-06-01 17:03] pabl0rg commented on #30
I'm still having some trouble bridging the cli and IDE worlds.

Following the steps from the gist above, i got this error just now with kobalt 0.798 and IJ plugin 1.109

When i click on show log, nothing happens :-/

<img width="966" alt="screen shot 2016-06-01 at 10 59 39 am" src="https://cloud.githubusercontent.com/assets/10501896/15718370/4805c504-27e8-11e6-9f52-a692cd0786fd.png">

[2016-06-01 17:05] cbeust commented on #30
@pabl0rg Yes, @dmitry-zhuravlev identified this issue as a difference between the way he and I build and package the plug-in. We're currently discussing the solution.

[2016-06-01 17:07] cbeust commented on #30
FYI, here is where the discussion is taking place:

https://github.com/cbeust/kobalt-intellij-plugin/issues/33

[2016-06-01 17:08] dmitry-zhuravlev commented on #33
The most recent version is:
![screen shot 2016-06-01 at 20 04 27](https://cloud.githubusercontent.com/assets/6297697/15718495/aad6087a-283c-11e6-8f3e-b60e21afdd2b.png)

Maybe you already have 145.972 but with old name 145.597.3 because name of the JDK never updated even if the IDEA distribution updated.

Just make sure that you have most recent release update of IDEA.

[2016-06-01 17:10] cbeust commented on #33
I believe I'm using the latest:

![image](https://cloud.githubusercontent.com/assets/92322/15718591/a4b30bc8-27d8-11e6-8a7c-017164095aa6.png)

[2016-06-01 17:10] dmitry-zhuravlev commented on #33
Not EAP, should be the release...

[2016-06-01 17:11] dmitry-zhuravlev commented on #33
IntelliJ IDEA 2016.1.2
Build #IU-145.972, built on May 14, 2016
JRE: 1.8.0_76-release-b162 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-06-01 17:16] cbeust commented on #33
Got it. I installed:

![image](https://cloud.githubusercontent.com/assets/92322/15718798/8f5b3682-27d9-11e6-87a7-51942a2c70e2.png)

and I'll be using that one to develop and package the plug-in from now on.

[2016-06-01 17:23] cbeust commented on #33
I just deployed 1.110 with the release version, which should fix the `toCommandLine()` errors that have been reported. Please try and report back.

/cc @pabl0rg

[2016-06-01 17:26] pabl0rg commented on #30
@cbeust @dmitry-zhuravlev  Ok!  it would be cool if when a project is created the source and test source folders were automatically set as such.  Sorry i haven't been much help in implementing much.  I'm buried in work.

[2016-06-01 17:36] cbeust commented on #30
@pabl0rg Can you file a separate issue for the test directories?

Thanks!

[2016-06-01 17:46] pabl0rg opened #40 "mark test directories as test source in project structure"
when importing or creating a new kobalt project, it would be great if test source directories were automatically marked as such in the project structure

[2016-06-01 19:37] dmitry-zhuravlev commented on #40
This should already present. Do you have an use case in which this not work for you?

[2016-06-01 22:41] sargunster opened #41 "Generated classes are not in the classpath in IntelliJ"
Generated classes don't show up in the classpath in IntelliJ, causing "Cannot resolve symbol" errors. See this sample project: https://github.com/sargunster/annotations where the project builds in Kobalt but shows compile errors in IntelliJ.

One possible solution is to mark the `kobaltBuild/classes` as a "generated sources root".

[2016-06-01 22:54] cbeust commented on #41
You need to take a few extra steps to declare your annotation processor to IDEA, I don't think this has anything to do with Kobalt.

And I don't think the Kobalt IDEA plug-in can do much since, as you saw, there is no mention of `apt` in your `Build.kt`, so the plug-in has no way of knowing you're using an annotation processor (short of doing a lot of costly introspection).

Here is the [relevant

[2016-06-01 22:56] sargunv commented on #41
Thanks, I'll have a look at the doc. The Gradle plugin doesn't require any additional configuration for annotation processing.

[2016-06-01 22:58] cbeust commented on #41
Ok let's dig a bit further, then. The Kobalt plug-in could see if the project contains any annotation processor file under `META-INF` and configure the IDE automatically.

@dmitry-zhuravlev Thoughts?

[2016-06-01 23:20] sargunv commented on #41
I think the simplest solution is to mark the `outputDir` in `apt` as a generated sources root.

[2016-06-02 06:27] pabl0rg commented on #40
Hi, i just created a new kobalt project using the IDE

<img width="482" alt="screen shot 2016-06-02 at 12 22 19 am" src="https://cloud.githubusercontent.com/assets/10501896/15735814/bd43ac26-2858-11e6-8295-b3a7f97dbca5.png">

With the option to auto-generate the source folders

<img width="412" alt="screen shot 2016-06-02 at 12 24 56 am" src="https://cloud.githubusercontent.com/assets/10501896/157

[2016-06-02 08:35] dmitry-zhuravlev commented on #40
The last screenshot looks strange. Because it shows that you have module named "web" in folder named "ballotbin-web" like a content root. I think you choose artifactId="web" and then choose another content root - this is wrong behavior since template for Build.kt was generated with directory = "web" and the "web" folder should be the content root for the module.

You can repeat your steps with thi

[2016-06-02 09:21] pabl0rg commented on #40
Thank you

Actually with the latest version of kobalt 0.799 and the plugin v1.110, the folders were marked as source even if i changed the root from the defaults, it is just a matter of waiting until kobalt syncs the build file, which on my computer and internet connection probably takes longer than on yours.

It's getting to the point where Kobalt and the IJ plugin work even more smoothly than IJ

[2016-06-02 09:21] #40 closed

[2016-06-02 09:45] pabl0rg commented on #33
I am no longer getting the toCommandLine() error with the latest plugin

[2016-06-02 11:35] cbeust commented on #40
Wow that's great to hear. Thanks for filing all these issues @pabl0rg and of course, big thanks to @dmitry-zhuravlev for being so thorough with the plug-in :-)

[2016-06-02 11:36] #33 closed

[2016-06-02 12:02] dmitry-zhuravlev commented on #40
It is true, the sync can be slow if internet connection is slow and you have a lot artifacts which Kobalt should download.

@pabl0rg @cbeust Thanks for such a warm words - it is always nice to hear ;)

[2016-06-02 12:30] dmitry-zhuravlev commented on #41
Agree, but in this case information about defined `outputDir` should comes from server because plugin should know the actual `outputDir` defined in `Build.kt`

@cbeust Also I noticed that if no `outputDir` defined in `Build.kt` Kobalt produce generated sources in classes folder:
![image](https://cloud.githubusercontent.com/assets/6297697/15744771/b2f192fa-28d6-11e6-9c35-b61bb3c6b273.png)

I think

[2016-06-02 13:05] #36 closed

[2016-06-02 13:53] pabl0rg commented on #30
I'm closing this as the [steps in this gist](https://gist.github.com/pabl0rg/f788a1ed0c3a4f43efdf17aed244b473) now work well for me every time.  However, it's still a lot of steps.

If the IJ plugin were to install the wrapper in the project root, then we could eliminate all those steps and just tell people to install the plugin.

[2016-06-02 13:53] #30 closed

[2016-06-02 13:57] cbeust commented on #30
@dmitry-zhuravlev Do you think we can improve on these steps, as @pabl0rg suggests?

[2016-06-02 18:42] dmitry-zhuravlev commented on #30
I think that wrapper and this steps is a quite different things. Usually if the user works from IDEA then wrapper doesn't needed. Thats why in Gradle there is an option before import if user wants to install a wrapper or not. The wrapper usually neded when the user wants to share project with other colegues or he wants to build the project outside the IDEA. So we can just add the ability to user t

[2016-06-02 18:49] dmitry-zhuravlev commented on #30
The simpliest way to add ability to add wrapper is the general Kobalt task "generateWrapper".

The second way and more complex is to add additional checkbox in import window (like in Gradle plugin).

Actually the both way could be combined and let the user deceide which approach he want to use.

[2016-06-02 21:39] pabl0rg commented on #30
The advantage of a generateWrapper or installWrapper task is that it can be
run at any time

On Thursday, June 2, 2016, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-06-03 09:47] dmitry-zhuravlev commented on #37
"SDK not found" problem relates only for EAP builds. But solutions can be applied also to the release branch.

[2016-06-03 09:47] #37 closed

[2016-06-06 20:55] cbeust opened #42 "NPE in KobaltProjectResolver$resolveProjectInfo$1"
![image](https://cloud.githubusercontent.com/assets/92322/15837467/e9f62b50-2be5-11e6-8923-16d1eed50f2b.png)

Whenever I try to sync build file: (happening with http://github.com/cbeust/klaxon and Kobalt too):

[code]

[2016-06-07 09:19] dmitry-zhuravlev commented on #42
Looks not good... Do you also run IDEA 145.972?
I tried to reproduce the problem with latest plugin from repository and with IDEA on klaxon project:
IntelliJ IDEA 2016.1.3
Build #IU-145.1617, built on June 3, 2016
JRE: 1.8.0_45-b15 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

For me it works without NPE. @cbeust  Maybe you could attach zip with your project just to check it

[2016-06-07 15:41] DevCharly commented on #36
For better usability, I'd like to suggest to move the global `Tasks` to the top of the tree.

[2016-06-07 15:58] cbeust commented on #36
I've been thinking the same thing, I think the global `Tasks` should be at the top.

[2016-06-07 18:47] dmitry-zhuravlev commented on #36
It would be there automatically after EAP becomes release version. I already checked the latest version of IDEA with some changes in external API. So simple keep wait for it 😉

[2016-06-07 18:48] cbeust commented on #36
Sounds good!

[2016-06-13 22:50] cbeust opened #43 "Exception in Kotlin plugin on initial opening of a kobalt project"
[Moved from https://github.com/cbeust/kobalt/issues/164, might be obsolete]

How to reproduce:

1. `mkdir somename && cd somename && kobaltw -i kotlin,idea`
2. open project in IntelliJ (2016.1.1 Ult)
3. "Configure Kotlin" pops up, click on Java
4. behold the exception:

[code]

[2016-06-14 09:12] dmitry-zhuravlev commented on #43
Obsolete issue. Cannot reproduce on `kobalt-0.814`. Also `idea` template doesn't exist anymore.

[2016-06-14 09:12] #43 closed

[2016-06-14 23:01] cbeust opened #44 "NPE while syncing"
[code]

[2016-06-15 13:18] pabl0rg opened #45 "use a better default project name when importing into intellij"
Imported kobalt projects (for example those created with the command line) always end up with the name Kobalt project in IDEA.

It might be better to use the project root folder's name as the default name in project structure.

[2016-06-15 13:19] cbeust commented on #45
Good idea.

[2016-06-16 10:45] #45 closed

[2016-06-16 15:53] cbeust commented on #45
New plug-in deployed.

[2016-06-17 22:29] cbeust opened #46 "Can't change the Kobalt home"
I can't seem to edit the text field or click on the "..." button:

![image](https://cloud.githubusercontent.com/assets/92322/16166452/d64aa440-3497-11e6-9e97-a55d3a52fe37.png)

[2016-06-17 22:33] cbeust commented on #46
I have a follow-up question: how do I run the IDEA plug-in with a local `kobalt.jar` now? It looks like the information in `Constants` is now ignored:

[code]

**Edit**: I just fixed it and restored these constants.

[2016-06-18 08:37] dmitry-zhuravlev commented on #46
If you uncheck "Always download and apply new version" the field to select custom distribution of Kobalt will be enabled. Actually this is a switch to allow user to choose which behavior he want: always to pick the newest version or manually select the given distribution and don't allow to change it to the newest if available.

[2016-06-22 20:18] cbeust opened #47 "Synchronizing should not alter the module's output path"
Every time I sync, my module's output directory gets changed to "module compile output path":

![image](https://cloud.githubusercontent.com/assets/92322/16281986/433e46a4-3873-11e6-8685-025af9f27519.png)

while they were initially at "inherit":

![image](https://cloud.githubusercontent.com/assets/92322/16282008/58d0d70c-3873-11e6-8d6a-03865daa1dc3.png)

I think synchronization should not alter thi

[2016-06-22 22:34] pabl0rg opened #48 "cryptic rmi error (fixed itself)"
This was a strange error I was getting.  I tried closing/opening IDEA several times and it made no difference.

It "fixed itself" after I deleted some jackson dependecies from the build file, synced, added them back and synced again.

[code]

[2016-06-22 22:37] cbeust commented on #48
Looks like a failure to connect to the server.

##

Cédric

On Wed, Jun 22, 2016 at 2:34 PM, pabl0rg notifications@github.com wrote:

[2016-06-22 23:12] pabl0rg commented on #48
does this other stack trace look like anything?

[code]

[2016-06-26 19:01] dmitry-zhuravlev commented on #47
Compiler output path should be set to `{PROJECT_DIR}/kobaltBuild/classes` for compile scope and `{PROJECT_DIR}/kobaltBuild/test-classes` this brings possibility to IDEA reuse already compiled by Kobalt classes.

`Inherit project compile output path` this is wrong choose because IDEA will compile it to something like `{PROJECT_ROOT}/out` This will lead to duplicate compiled classes with IDEA and Ko

[2016-06-26 19:06] dmitry-zhuravlev commented on #48
Looks like some exception in IDEA external API. Can't say more without reproducible steps.
@pabl0rg If you could reproduce it continuously feel free to post this steps.

[2016-06-26 19:08] cbeust commented on #47
I see. This makes sense but it's still a bit painful on my side. I'll see what I can do to adjust.

Thanks.

[2016-06-26 19:08] #47 closed

[2016-06-26 19:54] pabl0rg commented on #48
@dmitry-zhuravlev I have not encountered it again, so I'll close the issue.  Thank you

[2016-06-26 19:54] #48 closed

[2016-06-27 06:34] pabl0rg opened #49 "expose task checkVersions in the tool window"
It would be cool if the intellij plugin exposed/supported this task that is available from the command line

[code]

[2016-06-27 15:22] cbeust commented on #49
Good point. The window only exposes tasks right now but some command line
parameters might be useful.

We could also think about being able to have a "Kobalt launch
configuration" where users can invoke Kobalt as if they were launching it
from the shell (might be just a tiny wrapper over invoking `MainKt` with
the passed parameters). This way, they can launch specific line parameters
and task.

##

[2016-06-27 15:47] dmitry-zhuravlev commented on #49
It is already "Script parameters" in Kobalt run configuration. So you could specify --checkVersions there.

[2016-06-27 15:51] pabl0rg commented on #49
That is awesome, but refactoring that flag into a task might make the feature more discoverable/usable

[2016-06-27 16:00] dmitry-zhuravlev commented on #49
Yep, in this case it should be transformed into standard  task which should be implemented within Kobalt.

[2016-06-27 16:28] cbeust commented on #49
It's not always easy to determine what should be a task and what should be
a command line parameter.

So far, I've tried to stick to "A task is part of your build" so any other
"meta" command like "checkVersions" or "update" (Kobalt's self update) of
the plug-ins belongs to a command line parameter.

Maybe I could change the philosophy and make everything (or a lot more
things anyway) a task, I'm

[2016-06-27 16:34] pabl0rg commented on #49
What would be the disadvantages of making everything (or at least checkVersions and update) a task?

[2016-06-27 16:35] cbeust commented on #49
None I can think of, really.

##

Cédric

On Mon, Jun 27, 2016 at 8:34 AM, pabl0rg notifications@github.com wrote:

[2016-06-27 16:36] dmitry-zhuravlev commented on #49
You are right, in many cases it hardly to say what should be a task or a parameter. But things related to build like versions and Kobalt update could be a task, and definitely things like --dev, --server, --log it is a parameters because they describe not the build itself but the way how kobalt launches: it is a configuration of Kobalt launch.

[2016-06-27 16:37] pabl0rg commented on #49
Good points @dmitry-zhuravlev

[2016-06-27 16:42] cbeust commented on #49
Ok so I'm fine making `checkVersions` and `update` tasks. Looking at `Args.kt`, it's not quite clear to me which ones should become tasks as well, happy to hear suggestions.

[2016-06-27 17:25] pabl0rg commented on #49
The others make a lot more sense as command-line arguments.

[2016-06-27 20:49] cbeust commented on #49
FYI, I found a philosophical objection to having `checkVersions` and `update` as tasks. Tasks receive the project in parameter:

[code]

In other words, a task is run once for each project (e.g. three times for Kobalt, which has three projects).

Which obviously doesn't make sense for `update` and `checkVersions`.

[2016-06-27 21:02] pabl0rg commented on #49
Would it make sense for checkVersions since each project can have different dependencies?

[2016-06-27 21:07] cbeust commented on #49
@pabl0rg Oops of course...

[2016-06-27 21:25] cbeust commented on #49
Ok done, these two are now tasks (but they are still command line parameters as well, for now).

[2016-06-27 22:06] cbeust opened #50 "Can't see the tasks"
I was checking to see if the new tasks (`checkVersions` and `update`) appear in the window but I can't see any task at all with the current plug-in (the one in master, not the published one):

![image](https://cloud.githubusercontent.com/assets/92322/16397346/5d220924-3c70-11e6-9f60-4284fc149367.png)

[2016-06-29 16:55] cbeust commented on #50
ping @dmitry-zhuravlev

Any update? This is the only thing keeping me from releasing the new plug-in...

[2016-06-29 17:29] dmitry-zhuravlev commented on #50
Sorry for delay, I was busy on my regular job...

I guess it is because Kobalt doesn't send it with response. Just tested with server instance launched with `com.beust.kobalt.MainKt` and client `com.beust.kobalt.app.remote.KobaltClient.kt` (without IDEA plugin)

Here is what I got:

![screen shot 2016-06-29 at 20 23 07](https://cloud.githubusercontent.com/assets/6297697/16461869/bbf419ee-3e3f-11e6

[2016-06-29 17:32] cbeust commented on #50
Ok will take a look, thanks!

##

Cédric

On Wed, Jun 29, 2016 at 9:29 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-06-29 18:17] cbeust commented on #50
You were right, it was a bug in Kobalt. Fixed in master. Sorry for the false alarm!

[2016-06-29 18:17] #50 closed

[2016-06-29 18:23] cbeust commented on #50
And they're back, including the new ones `update` and `checkVersions`:
- @pabl0rg

![image](https://cloud.githubusercontent.com/assets/92322/16463722/8871618c-3de3-11e6-85bf-8ef6802d920f.png)

[2016-06-29 18:24] dmitry-zhuravlev commented on #50
Sounds good! ;)

[2016-06-29 18:26] cbeust commented on #50
New plug-in released.

[2016-07-01 22:58] norswap opened #51 "500 Internal Error when importing Kobalt project"
Here's what I'm getting:

![error](http://i.imgur.com/nvWrrSC.png)

The relevant log: http://pastebin.com/jRMZ9jCz

[2016-07-01 22:59] cbeust commented on #51
@dmitry-zhuravlev :

Note that it's a 500, so the server is up and running but it threw when trying to run `getDependencies()`. It would be nice to capture the server stack trace in the IDEA log (and I'll look into sending that stack trace in the protocol packet too).

[2016-07-01 23:34] norswap commented on #51
Actually, when starting IntelliJ I'm getting the following:

![](http://i.imgur.com/Gri8EYl.png)

(On IntelliJ 15.0.6 on Windows)

I also tried on OS X, and I get neither errors there.

[2016-07-02 07:19] dmitry-zhuravlev commented on #51
I guess you running old version of plugin because of IDEA 15.0.6. Note that some features required new IDEA 2016 and hence incompatible with old versions of IDEA.

[2016-07-02 07:30] cbeust commented on #51
@dmitry-zhuravlev Is it possible to get the plug-in to run on these old versions?

[2016-07-02 08:27] dmitry-zhuravlev commented on #51
Some of the IDEA bugs was fixed in 2016 version. Also the old plugin version should be used with some old Kobalt version. I'm not sure that we should take care about old versions. Of course it would be always better for users which have an old version, but it lead to additional effort to support many (how many?) versions of IDEA.

[2016-07-02 11:26] norswap commented on #51
I'm too pampered by auto-update, I didn't even realize I didn't have the latest version on Windows :)
I updated, and it works alright :+1:

[2016-07-02 12:38] cbeust commented on #51
@dmitry-zhuravlev Ok, was just checking. I think right now, it's fine to tell people they need to update IDEA to get the latest version.

@norswap Great to hear it, closing the issue.

[2016-07-02 12:38] #51 closed

[2016-07-05 16:48] jkbbwr opened #52 "AssertionError on opening project created by kobalt plugin"
Similar to #43
Under version 1.114 idea will now show

[code]

each time a kobalt project is opened, the user can click `configure for java` and the assertion is thrown but everything works fine.

[2016-07-06 16:19] dmitry-zhuravlev commented on #52
Yeach, I seen it before but only on some project. Original assertion comes from Kotlin plugin so I suspect that this is an issue of Kotlin plugin. Do you have a latest Kotlin plugin installed? Could you reproduce it with a new Kobalt based project created with plugin's wizard?

[2016-07-07 06:28] ethauvin opened #53 "Gradle tasks run from the Gradle tab are turn into Kobalt Run/Debug Configurations"
Using **IntelliJ IDEA 2016.1.3** w/ **Kobalt plugin 1.114**.

Started with a Kobalt project and added a Gradle build file to the `Gradle projects` tab.

Gradle task will run fine from the tab, but will then fail from the `Run` menu.

[2016-07-07 07:18] dmitry-zhuravlev commented on #53
"... will then fail from Run menu"--> Do you mean invalid run configuration created? Seems like
https://github.com/cbeust/kobalt/issues/198

So the fix for this still not present in the release version of IDEA.

[2016-07-07 08:26] ethauvin commented on #53
Yeap, same. Closing.

[2016-07-07 08:26] #53 closed

[2016-07-22 05:06] kyonifer opened #54 "Support bringing in sources jars to support jumping into dependencies."
It would be nice to be able to hit Ctrl+B and jump into the source of dependencies. Trying to add a jar with a sources classifier manually to the build file as a compile dependency still brought in the binary jar.

[2016-07-25 15:05] dmitry-zhuravlev commented on #54
Should be supported by Kobalt first. @cbeust Like a future request: Kobalt should download sources for dependencies (if present) and cache it in repository folder. Then Kobalt's server should send location of sources to plugin.

[2016-07-25 17:12] cbeust commented on #54
Kobalt doesn't download sources by default (for performance and hard drive space reasons) but you can force the download with a `resolve` and the `sources` qualifier:

[code]

That would be one way of doing it.

Another one would be to use IDEA's own mechanism: I saw that I can download sources from IDEA and I can then specify whether it's "From Java" or "From Maven". @dmitry-zhuravlev are you fam

[2016-07-26 13:05] dmitry-zhuravlev commented on #54
Actually it depends on build tool. It seems that Gradle always download all sources (if available) and cache it to `~/.gradle/caches`. From the one hand it is very handy but from another hand I agree: it can affect at least time of dependency resolving and hard drive space.

Maven IDEA plugin have some buttons in tool window to initiate download of sources:

![image](https://cloud.githubuserconten

[2016-07-26 14:43] cbeust commented on #54
Agreed, I think IDEA's internal mechanism is good enough.

##

Cédric

On Tue, Jul 26, 2016 at 6:05 AM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-08-03 13:45] orangy opened #55 "Cannot import Kobalt project into IDEA"
2016-08-03 16:23:07,179 [  27548]   WARN - ution.rmi.RemoteProcessSupport - WARN: Cannot found Kobalt server port in /Users/orangy/.kobalt/kobaltServer.properties. The default port 1234 will be used.
2016-08-03 16:23:08,189 [  28558]   WARN - ution.rmi.RemoteProcessSupport - WARN: Cannot found Kobalt server port in /Users/orangy/.kobalt/kobaltServer.properties. The default port 1234 will be used.

[2016-08-03 16:58] orangy commented on #55
Note, that it seems server is started ok on refresh, but doesn’t start for some reason on import.

[2016-08-03 17:06] cbeust commented on #55
@dmitry-zhuravlev

@orangy is working on Ktor and he's trying to import the Kobalt build I created for this project, which you can download from my fork:

https://github.com/cbeust/ktor

and switch to the `kobalt` branch.

[2016-08-03 19:17] dmitry-zhuravlev commented on #55
Looks like an old problem with invalid root tag in Kobalt settings... @orangy can you recheck please if the root tag is 'kobaltSettings' and not 'kobalt-settings'

[2016-08-03 22:15] ethauvin opened #56 "Loading plugins() disables IDEA plug-in"
I created a project with `./kobaltw --init java`, added the following to the `Build.kt` file:

[code]

Imported as a Kobalt project into IDEA 2016.2 (Windows), the IDEA plugin is basically disabled:

![capture](https://cloud.githubusercontent.com/assets/705618/17376046/9b01d35e-5968-11e6-92d8-174d7dd6ca3d.PNG)

I then commented the `plugins()` line out and reloaded:

![capture2](https://cloud.gith

[2016-08-03 22:46] orangy commented on #55
When the problem was there, settings.xml didn't exist. Actually, now when I created it, import works fine. So probably missing file causes it.

[2016-08-03 22:52] orangy commented on #55
Wrote too fast, it failed later. Starting server from command line with `kobaltw --server  —force` works and allows project import just fine.

[2016-08-03 22:54] cbeust commented on #55
So it looks like there is still a bug and the plug-in sometimes is not able to successfully launch the server. It would be nice to find why since it's an important first impression for new users.

@dmitry-zhuravlev: @orangy suggested it might only happen when you import the project but not when you synchronize your build file, does this help?

[2016-08-03 22:55] cbeust commented on #56
Mmmh that's mysterious. @dmitry-zhuravlev any thoughts?

[2016-08-04 08:29] dmitry-zhuravlev commented on #56
"the IDEA plugin is basically disabled" I think you mean that tool window doesn't show anything? If so I suppose that Kobalt return nothing because of
`val pl = plugins("net.thauvin.erik:kobalt-exec:0.6.2")` for some reason...

"Additionally, I have never been able to import a Kobalt project as an .ipr, only .iml seems to work."
".ipr" it is a legacy IDEA project format
".iml" it is a IDEA module

[2016-08-04 10:44] dmitry-zhuravlev commented on #55
I tried the following (latest Kobalt plugin from repository and Kobalt 0.885):
1) checkout from Version Control -> Git
2) open project with IDEA
3) checkout new local branch from remote one "kobalt"
4) reopen the project for triggering notification about detached Kobalt project (I know it is not so convenient and should be improved)
5) then click "import Kobalt project" and proceed with default se

[2016-08-04 12:22] cbeust commented on #55
@orangy Are you seeing the same thing as @dmitry-zhuravlev is?

If yes, then the only issue left is that the `Build.kt` module only gets `kobalt.jar` in its classpath after a reopen, any idea why, @dmitry-zhuravlev ?

[2016-08-04 12:26] orangy commented on #55
No, this is not what I'm seeing. After import configuration dialog I just see ConnectException message box and it gets back to Import Configuration. If I start server manually, it works more or less like @dmitry-zhuravlev explains.

[2016-08-04 12:28] cbeust commented on #55
Ok so the server is still not being started correctly for @orangy.

@dmitry-zhuravlev, can you add some logging to the plug-in so we can investigate what's going on, since neither you nor I can reproduce the problem?

[2016-08-04 12:54] dmitry-zhuravlev commented on #55
Hm... At the moment I'm not sure if the logging could help. The exception log is obvious in this case: `Caused by: java.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:1234`
So the server shutdown for some reason.

For me it is a quite strange to see this warnings:
`WARN - ution.rmi.RemoteProcessSupport - WARN: Cannot found Kobalt server port in /Users/orangy/.kobalt/kobaltSer

[2016-08-04 15:41] ethauvin commented on #56
Actually, it'll ultimately give you a warning saying the module is no longer a valid Kobalt module and the Kobalt tool window will completely disappear, and to be clear, it doesn't matter which plugin is used, even @cbeust `kobalt-line-count` will fail.

`./kobaltw --init java` then import as `.ipr`.

[2016-08-06 00:10] cbeust commented on #55
@dmitry-zhuravlev I think the plug-in needs to track whether the server started properly or not, and if not, display the error.

I just came across a situation where the `kobalt.jar` was corrupted and so the server couldn't start, but all the plug-in told me is that it couldn't connect to the server. It would be nice if the plug-in could display something like "Couldn't start the server because...

[2016-08-06 07:48] dmitry-zhuravlev commented on #55
But how to display the arbitrary error? If the server doesn't start it couldn't "tell" to the plugin about error which prevent from successful startup.

[2016-08-06 07:50] dmitry-zhuravlev commented on #55
Maybe somehow to get the error from output of the process... I'll recheck how to do it.

[2016-08-06 14:32] cbeust commented on #55
Yes, capturing the output of the process is what I was referring to.

##

Cédric

On Fri, Aug 5, 2016 at 11:50 PM, Dmitry Zhuravlev notifications@github.com
wrote:

[2016-08-08 13:30] dmitry-zhuravlev commented on #56
Tried with:
`import com.beust.kobalt.plugins
val pl = plugins("net.thauvin.erik:kobalt-exec:0.6.2")`

And after some improvement in the plugin's output I see some exceptions which was thrown inside Kobalt:

`Caused by: java.lang.AssertionError: com.beust.kobalt.KobaltException: Couldn't create PluginInfo: net.thauvin.erik.kobalt.plugin.exec.ExecPlugin`

@cbeust any thoughts about it?

[2016-08-08 13:45] dmitry-zhuravlev commented on #56
Tried to do it and it works for me without any problem:

![image](https://cloud.githubusercontent.com/assets/6297697/17481774/67263232-5d87-11e6-91d8-231b93ef2c62.png)

[2016-08-08 17:53] ethauvin commented on #56
It worked for me today too. Whatever @cbeust changed fixed it.

[2016-10-11 13:32] orangy opened #57 "NoClassDefFoundError: com/android/ide/common/rendering/api/Bridge"
com/android/ide/common/rendering/api/Bridge
java.lang.NoClassDefFoundError: com/android/ide/common/rendering/api/Bridge
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:642)
    at com.intellij.util.lang.UrlClassLoader._defineClass(UrlClassLoader.java:269)
    at com.int

[2017-01-13 03:51] suchengjian commented on #57
I solve the problem when i change the compileSdkVersion 23 to 22

[2017-02-01 21:46] cbeust opened #58 "Better error reporting when the Kobalt server throws an exception"
I added a nonexistent dependency in my build file and then pressed the Sync button. This did nothing.

I then launched the server manually in a console (`--force --log 2`), pressed Sync again and I got:

[code]

It would be nice if this exception (or message) could be shown as an error dialog in IDEA instead of failing silently and leaving the Module/Library in an inconsistent state.

[2017-02-03 09:09] #56 closed

[2017-02-06 21:00] cbeust opened #59 "Syncing should preserve the compiler level"
Whenever I sync, the plug-in resets the compiler level to 1.6:

![image](https://cloud.githubusercontent.com/assets/92322/22666119/4371c832-ec6c-11e6-86dd-b1da8ff596e0.png)

This settings should be saved before sync and restored afterward.

[2017-02-08 22:08] cbeust opened #60 "Need better error reporting"
If you try to sync the current plug-in with a Kobalt > 0.920, you get:

![image](https://cloud.githubusercontent.com/assets/92322/22759590/d47e0c0e-ee07-11e6-9e57-f891761aeeb1.png)

As we discussed previously, this is mostly due to the 1.0.6 / 1.1.0-beta Kotlin compiler discrepancy (the sync works fine with 0.920 and below), but I really wanted to make sure that such was the case, however, I can't

[2017-02-09 10:42] dmitry-zhuravlev commented on #60
@cbeust I also see this problem starting from 0.922. However 0.919 works for me....

[2017-02-09 10:56] dmitry-zhuravlev commented on #60
By the way I tried from master branch.... But when I swithed back to migration branch all seems to be fine.

[2017-02-09 15:01] cbeust commented on #60
Were you able to find out exactly what's causing this 500? I would expect to see some stack trace with a bytecode error or some `ClassDefNotFound`, but I'm still not quite understanding how the version of the remote Kobalt server matters: it's a JSON call to a remote process, why would it matter what version of `kotlinc` was used to compile that remote process?

[2017-02-14 11:51] dmitry-zhuravlev opened #61 "Retrofit library stop working inside plugin"
Recently I noticed that retrofit library stop working inside plugin. Currently we use this library to invoke some commands line `ping`, `quit` on Kobalt server. We have the same situation like described here:
https://github.com/square/retrofit/issues/2102

The reason is that Retrofit try to determine the running platform by executing `Class.forName("android.os.Build")` So it works previously but s

[2017-02-14 12:50] dmitry-zhuravlev commented on #61
Provided some temporary solution with Retrofit library which is builded manually. Should be updated to the actual release version of library as soon as https://github.com/square/retrofit/pull/2103 will be merged.

[2017-02-14 18:53] cbeust commented on #61
Not crazy about having our own version of public libraries but as long as
it's temporary until Retrofit merges their fix, not a big deal. Thanks for
catching this!

--
Cédric

On Tue, Feb 14, 2017 at 4:50 AM, Dmitry Zhuravlev <notifications@github.com>
wrote:

[2017-02-17 21:49] cbeust opened #62 "Handle `plugins()` correctly"
We need to support `plugins()` correctly. Currently, this build does not compile:

[code]

In the latest version of Kobalt, the server returns an additional property `pluginDependencies` in the `GetDependenciesData` structure:

[code]

These files (jar files) should be added as dependencies to the `Build.kt` module, which will allow the build file above to build after a sync.

@dmitry-zhuravlev, l

[2017-02-20 10:47] dmitry-zhuravlev commented on #62
Yep, seems we need to do some adjustments here. At the moment `Build.kt` module is handled differently from other modules which is processed within IDEA's external api. Maybe I'll put `Build.kt` also into processing.

@cbeust  However why `pluginDependencies` is type of `List<File>`? I guess it should be `List<DependencyData>`.

[2017-02-20 15:37] cbeust commented on #62
Oops you're right, `pluginDependencies` is now a `List<DependencyData>`:

https://github.com/cbeust/kobalt/blob/master/src/main/kotlin/com/beust/kobalt/app/remote/RemoteDependencyData.kt#L201

[2017-02-20 17:14] cbeust commented on #62
Working great!

![image](https://cloud.githubusercontent.com/assets/92322/23135334/07bf65c4-f74d-11e6-9d5e-0e74a4820312.png)

[2017-02-20 17:14] #62 closed

[2017-02-23 04:18] cbeust opened #63 "Have to launch a manual server to sync"
A new user, @chillenious, tried to sync a brand new Kobalt project and the import failed (can't connect to the server). I made him launch a manual 0.939 server (`./kobaltw --server --force)` and the import worked.

Is the IDEA plug-in intentionally not launching a server above a specific version? If yes, this restriction should be removed: it looks like it works just fine with the latest versions.

[2017-02-28 15:45] dmitry-zhuravlev commented on #63
Actually there is no special restriction to run a specific version. "can't connect to the server" usually means that server crashed during startup for some reason. This reason should be in idea.log.
@chillenious do you have any errors in idea.log?

[2017-02-28 20:05] chillenious commented on #63
couldn't upload, maybe related to s3 outage, but here is a paste of entire log after clean start:

`2017-02-28 15:02:31,401 [      0]   INFO -        #com.intellij.idea.Main - ------------------------------------------------------ IDE STARTED ------------------------------------------------------
2017-02-28 15:02:31,422 [     21]   INFO -        #com.intellij.idea.Main - IDE: IntelliJ IDEA (build

[2017-03-01 15:21] dmitry-zhuravlev commented on #63
@cbeust @chillenious
Here is the root exception:
`java.lang.AssertionError: Exception in thread "main" java.lang.UnsupportedClassVersionError: com/beust/jcommander/JCommander : Unsupported major.minor version 52.0`

At the moment IDEA have their own version of Kotlin in IDEA_INSTALL_DIR/lib. It is 1.0.5 version.
This version of Kotlin jars IDEA add to the classpath when start Kobalt server. Plugin

[2017-03-01 15:38] cbeust commented on #63
Also, I can look into making JCommander compile with 1.7 (I thought it did, maybe there was an accidental version with 1.8).

By the way, Kotlin 1.1 is now officially out so we will release Kobalt + IDEA plug-in with 1.1 very soon, which should solve some of these problems.

[2017-03-01 16:15] dmitry-zhuravlev commented on #63
Hope so. But I'm not expect that 1.1 version will be present in IDEA_INSTALL_DIR/lib very soon....

[2017-03-01 23:38] cbeust opened #64 "Crash when using the plug-in built with Kotlin 1.1"
I get the following exception on start up with a plug-in built with 1.1. Is this because the `kotlin-reflect.jar` and other libraries in the IDEA distribution are pre 1.1?

@dmitry-zhuravlev, any way to fix this?

If not, could you create a .zip compiled with 1.0.6 that I could deploy to the store?

Thanks!

[code]

[2017-03-02 12:06] dmitry-zhuravlev commented on #64
Seems like broken build.... Which branch do you trying to build?

Yep, I can build zip archive for 1.0.6 version but I think it couldn't be used with the latest version of Kobalt.
This is moustly because Build.kt will be all "red" (see https://github.com/cbeust/kobalt/issues/317)
The latest version of Kobalt API will be under 1.1 so it cannot be used with 1.0.6 version of Kotlin plugin in IDEA.

[2017-03-02 13:24] cbeust commented on #64
Ideed, must have been a build problem: I just deployed 1.121 to the JetBrains site from my Windows laptop this time and everything seems to work fine. Can you try it and confirm?

Glad we're all on 1.1 now.

Thanks!

[2017-03-02 13:24] #64 closed

[2017-03-02 21:54] pabl0rg commented on #28
I'm taking another shot at documenting kobalt and it's hard to explain why the intellij plugin doesn't install the wrapper when it creates a new project.  Without the wrapper, a project will not build on a CI server as easily as with it, and there's no good way to build from the command line.

@dmitry-zhuravlev what if there was a way for the IJ plugin to let kobalt install itself and create the p

[2017-03-03 13:51] dmitry-zhuravlev commented on #28
@pabl0rg

IDEA plugin doesn't need this wrapper to execute Kobalt's build. In this case such wrapper spawn additional JVM process which is useless in this case.

For that reason Kobalt can provide a task like "installWrapper" to generate it. So if user decide to move to comand line or use CI server he could generate the wrapper on his own.

When user create a project using IDEA he primarily create

[2017-03-03 15:45] pabl0rg commented on #28
Good points. So what we really need is to add an installWrapper task to Kobalt.

[2017-03-03 17:16] cbeust commented on #28
But if you have `kobaltw`, you already have the wrapper, don't you?

[2017-03-03 20:54] pabl0rg commented on #28
@cbeust I'm not sure I get your drift correctly.  Are you saying the IDEA plugin could add a installWrapper "task" that uses kobaltw to install the wrapper?  So it wouldn't be like the other tasks that kobalt itself exposes, but it could be listed as a task or something similar in the IDEA plugin?

[2017-03-17 12:23] Shinelw opened #65 "Fail when run the project of branch"android_studio" in Intellij"
Error:Kotlin: Conflicting versions of Kotlin runtime on classpath: /Applications/IntelliJ IDEA.app/Contents/lib/kotlin-runtime.jar, /Users/shinelw/Code/kobalt-intellij-plugin-android_studio/lib/kotlin-runtime.jar

[2017-03-17 12:29] Shinelw commented on #65
I deleted one of the two files named "kotlin-runtime.jar". however,it cause another error.

[code]

[2017-03-17 14:28] dmitry-zhuravlev commented on #65
Android studio branch is outdated. Probably I will merge all the latest changes to it.

[2017-03-17 15:59] dmitry-zhuravlev commented on #65
Merged all changes from master to android studio branch but not tested since have no Android Studio installed....
But I expect that the mentioned problem with `Unresolved reference: PROXY_LOGIN` should be solved.
@cbeust Could you please build the plugin from Android branch and upload it to JB repository?

[2017-03-17 16:17] cbeust commented on #65
@dmitry-zhuravlev I'm having difficulties building the `kotlin-1.1.1-migration` branch:

![image](https://cloud.githubusercontent.com/assets/92322/24052377/8042f3cc-0af2-11e7-89b6-f94a2522cc2c.png)

Maybe it would be easier if you build the .zip yourself and attach it to this issue for @Shinelw to try directly?

[2017-03-17 16:32] cbeust commented on #65
I can't find how to fix:

[code]

These files are in the IDEA distribution, how do I fix this error?

[2017-03-17 16:33] dmitry-zhuravlev commented on #65
Hm... looks weird.
@cbeust  FYI `kotlin-1.1.1-migration` merged to master since Kotlin 1.1 officially released and I see no reason to keep it separatelly anymore.

@Shinelw here is the builded plugin from Android studio branch, please have a try
[kobalt-intellij-plugin.zip](https://github.com/cbeust/kobalt-intellij-plugin/files/851185/kobalt-intellij-plugin.zip)

[2017-03-17 16:40] Shinelw commented on #65
OK. I will try it.
thanks for your help.

[2017-03-23 17:27] cbeust opened #68 "Build.kt should not be compiled in kobaltBuild/classes"
Hi @dmitry-zhuravlev,

`Build.kt` is getting compiled into `kobaltBuild/classes` by default:

[code]

which is very bad since it means the build file will end up packaged with the application, and it will interfere with other builds.

How about compiling it inside `.kobalt/build/buildFile` or maybe even `/tmp`?

[2017-03-23 17:59] dmitry-zhuravlev commented on #68
Hi @cbeust Hm... you are right. But maybe it is a good idea to put it in the same folder like Kobalt itself do. The intention is to reuse the output classes from Kobalt within IDEA and vise versa and not compile it twice. But I guess that this will work only in case if IDEA compile it with the equal classpath and equal Kotlin compiler like Kobalt server do....

[2017-03-23 18:01] cbeust commented on #68
Any location besides `kobaltBuild` is fine with me :-)

[2017-03-24 06:27] dittert opened #69 "Unable to open kobalt projects in IU-2017.1"
I'm not able to open Kobalt projects in IDEA 2017.1

Here's a sample project: https://github.com/dittert/kobaltfailure

Error message after import:
![this should not be shown 2017-03-23 11-11-35](https://cloud.githubusercontent.com/assets/1113632/24283007/511843ce-1063-11e7-82f9-d9ad43346aaf.png)

It opens in 2016.3 without errors.

[2017-03-24 06:43] cbeust commented on #69
@dmitry-zhuravlev we encountered that with @dittert, it seems to be a regression in 2017.1 (not sure if it's Kobalt's or IDEA's).

[2017-03-24 06:49] dmitry-zhuravlev commented on #69
Just yesterday worked with Kobalt and IDEA 2017.1 and have no problem. I'll recheck. @dittert do you have also the latest Kotlin plugin installed?

[2017-03-24 06:50] dittert commented on #69
Yes, I'm using 1.1.1-release-IJ2017.1-1.

[2017-03-24 09:48] #68 closed

[2017-03-24 09:58] dmitry-zhuravlev commented on #68
Done. Now the output of `Builld.kt` module will be `kobalt/out/classes`

[2017-03-24 10:17] dmitry-zhuravlev commented on #69
Tried to reproduce by using https://github.com/dittert/kobaltfailure project.
Have successfull import:
![image](https://cloud.githubusercontent.com/assets/6297697/24289463/6dbee350-1092-11e7-881c-a613fed298e4.png)
Also take a look on highlighted dependencies. Such Kotlin runtime dependencies could be added by using `Kotlin not configured notification` (use the latest 1.122 Kobalt plugin version):

[2017-03-24 17:19] dittert commented on #69
This is the only thing thing that is related to kobalt:

[code]
What does work:

- open directory in 2016.3 and import kobalt
- open directory in 2017.1

Whenever I try to open it without the ```.idea``` folder present, it fails.

[2017-03-24 19:01] cbeust commented on #68
Great, thanks! Are you publishing the new plug-in yourself?

[2017-03-24 21:51] dmitry-zhuravlev commented on #68
Yep, tried to upload the 1.122 version and it works fine ;)

[2017-03-25 06:56] cbeust commented on #69
I confirm the bug: I just upgraded to 2017.1 on Windows and I can no longer import anything The dialog appears as soon as I press "Ok". The only line generated by the Kobalt plug-in in the log is:

[code]

![image](https://cloud.githubusercontent.com/assets/92322/24320191/850dab08-10ed-11e7-98b3-4abd7cfabbc4.png)

[2017-03-25 09:33] dittert opened #70 "Provide an option to make Kobalt sources available"
As Egon, the maintainer of our build scripts, I'd like to be able to access the source code of Kobalt directly from my build scripts in order to not need to repeatedly configure this manually.

**Details**
IDEA shows only method signatures of Kotlin code by default. All the implementation is hidden behind ```/* compiled code */```.  This would also be very helpful while working on build scripts be

[2017-03-25 09:37] dmitry-zhuravlev commented on #70
Should be done on Kobalt side first. See https://github.com/cbeust/kobalt/issues/237

[2017-03-25 09:40] dittert opened #71 "Kobalt tasks showing up multiple times in IDE"
This bug was filed against 1.0.23.

![duplicate tasks](https://cloud.githubusercontent.com/assets/1113632/24321192/f4fa5ab6-1146-11e7-9424-b3d5addf1d5f.png)

Content of ```Build.kt```:

[code]

These duplicates seem to be triggered by project refreshes. It doesn't happen all the time, though. I have seen the following:

- IDEA opens the project => tasks are correct
- IDEA executes a project refres

[2017-03-25 09:43] dmitry-zhuravlev commented on #71
Can confirm this.  Also see this problem. Seems like some regression inside IDEA external API.

[2017-03-25 10:14] dmitry-zhuravlev commented on #69
@cbeust Tried to launch Kobalt server manually and it failed:
`java -jar kobalt-1.0.23.jar --log 3 --force --dev --server`

[code]

Any hint?

[2017-03-25 14:02] cbeust commented on #69
Mmh weird, seems to be working for me:

[code]

[2017-03-25 14:03] cbeust commented on #69
Oh you must be launching it from a directory that doesn't have a build file. I guess I should make it optional to have a build file.

[2017-03-25 14:14] #69 closed

[2017-03-25 14:15] cbeust commented on #69
Fixed in 1.0.24.

[2017-03-25 14:17] cbeust commented on #71
@dmitry-zhuravlev Is the Kobalt server sending you these dependencies duplicated or is it an IDEA regression?

[2017-03-25 16:48] dittert opened #72 "Running tasks creates run configurations of incorrect type"
The Kobalt window shows something like this:

![tasks](https://cloud.githubusercontent.com/assets/1113632/24324227/d00138a6-1182-11e7-94cc-e61921777b7a.png)

Steps to reproduce:

- double click on task clean to run it

IDEA creates the following run configuration:

![generated confing](https://cloud.githubusercontent.com/assets/1113632/24324235/0cf56ade-1183-11e7-9ee9-b3b37e7b0800.png)

This is a

[2017-03-25 20:29] dmitry-zhuravlev commented on #72
It's a long term issue... should be fixed in future versions of IDEA, see https://youtrack.jetbrains.com/issue/IDEA-168172

[2017-03-26 08:28] dittert opened #73 "Allow to specify profiles in the IDE plugin"
As Bob, the maintainer of our builds, I'd like to be able to configure the profiles that are used by the IDE plugin in order to use development versions of some libraries.

**Details**
Profiles can have a great deal of influence on what happens in a build script. Here's an example:

[code]

This example influences the tasks that should be available in the Kobalt window (because different versions

[2017-03-26 08:54] dmitry-zhuravlev commented on #73
Kobalt already have profiles see http://beust.com/kobalt/documentation/index.html

So you can specify '-profiles' parameter in IDEA Kobalt run configuration.

[2017-03-26 09:14] dittert commented on #73
I know that I can specify profiles in run configurations through command line options.

But as I pointed out in the feature request, the tasks that are shown by the IDEA Kobalt window and the project dependencies used by IDEA may also be dependent on profiles! And currently there is no way to specify which profile should be used by Kobalt to configure the IDEA project. As I understand it, this tas

[2017-03-26 13:56] cbeust commented on #73
Maybe the `Kobalt` settings panel in IDEA should let the user specify a list of profiles? And whenever this list is changed, the plug-in triggers a sync to update its dependencies.

@dmitry-zhuravlev what do you think?

[2017-03-26 13:59] dittert commented on #73
Those calls to `by profile()` should be a nice hook to collect all of them when `Build.kt` is evaluated. The delegate also knows the name of the property.

[2017-03-26 14:05] cbeust commented on #73
Interestingly, the `profile()` delegate does nothing, it's mostly used as a marker. Kobalt actually needs to locate these calls in the build file, so it has to parse the build file and do its work during that parsing, instead of just relying on the call to `profile()` (which it could, but again, this is not enough: I need the line number where that call is made so I can replace it).

As for the ID

[2017-03-26 14:38] cbeust opened #74 "Deprecate buildFile in "/v1/getDependencyGraph""
Starting in 1.0.27, `buildFile` is deprecated in this call and should be replaced with `projectRoot` pointing to the root of the project. Kobalt will figure out how to find the correct build file.

Old:

`/v1/getDependencyGraph?buildFile=/users/cedric/java/jcommander/kobalt/src/Build.kt`

New:

`/v1/getDependencyGraph?projectRoot=/users/cedric/java/jcommander`

This is a first step toward Kobalt s

[2017-03-27 09:32] dmitry-zhuravlev commented on #73
Also thought in this direction.... So I will add additinal field in Kobalt settings and will send additinal query parameter `profiles` in server call `/v1/getDependencyGraph`

[2017-03-27 09:38] dmitry-zhuravlev commented on #74
Looks promising :-)

[2017-03-27 13:27] cbeust commented on #73
Sounds good, @dmitry-zhuravlev.

[2017-03-27 14:12] #74 closed

[2017-03-27 14:22] dmitry-zhuravlev commented on #73
Added field:
![image](https://cloud.githubusercontent.com/assets/6297697/24360904/404d3d96-1311-11e7-88fe-3fe3592ae659.png)

This string will be sended to `/v1/getDependencyGraph?profiles=....`
@cbeust now you can process it inside Kobalt. Let me know when you add it inside Kobalt and we will test how it works ;-)

[2017-03-27 16:19] cbeust commented on #73
Thanks, Dmitry. Can you publish the plug-in with this change?

[2017-03-27 17:02] dmitry-zhuravlev commented on #69
Finally reproduced and fixed mentioned bug with "project directory is already taken". Some small forgotten "null" reference could be a reason :)

[2017-03-27 17:13] cbeust commented on #69
Awesome, I was getting tired of tweaking my way out of it (FYI I was manually modifying the `.iml`).

Please let us know when the new plug-in is available.

Thanks, @dmitry-zhuravlev !

[2017-03-28 09:08] dmitry-zhuravlev commented on #73
@cbeust  Done. v1.123 uploaded with this change.

[2017-03-29 09:58] #73 closed

[2017-03-29 12:28] dmitry-zhuravlev commented on #71
@cbeust It seems that Kobalt server for some reason sends duplicate tasks:
![image](https://cloud.githubusercontent.com/assets/6297697/24454311/0e578704-1494-11e7-95de-aacb9213003b.png)

I can filter it within plugin, but I think this should be fixed primarily on Kobalt side.

[2017-03-29 13:36] #46 closed

[2017-03-29 13:38] #44 closed

[2017-03-29 13:39] #34 closed

[2017-03-29 13:41] #49 closed

[2017-03-29 14:07] cbeust commented on #71
Definitely looks like a bug on Kobalt side, will take a look.

--
Cédric

On Wed, Mar 29, 2017 at 5:28 AM, Dmitry Zhuravlev <notifications@github.com>
wrote:

[2017-03-29 14:12] dmitry-zhuravlev commented on #59
@cbeust
During the initial import there is no way to determine which language level and SDK version should be used. 1.6 it is a default one.
I can set the level explicitly to 1.8 but what about users which still have 1.7 or even 1.6?

The consequence re-import recreate the the IDEA project from scratch and there is no way to store something in between sync.

E.g. Gradle daemon send to IDEA plugin

[2017-03-29 14:46] pabl0rg commented on #49
Great!  Is the update task called update?  I wonder if installWrapper or installKobaltw would be more intuitive (sorry I didn't suggest that sooner).

[2017-03-29 14:53] dmitry-zhuravlev commented on #49
@pabl0rg
This issue about `checkVersions` and it present and works. Maybe you mean this issue https://github.com/cbeust/kobalt-intellij-plugin/issues/28 when talking about `installWrapper` and `installKobaltw`?

[2017-03-29 14:56] pabl0rg commented on #49
Right, sorry.  Though update was mentioned in this issue as well.

[2017-03-29 15:00] #58 closed

[2017-03-29 15:06] dmitry-zhuravlev commented on #60
I didn't see this issue any more. So probably closing it.

[2017-03-29 15:06] #60 closed

[2017-03-29 15:08] #31 closed

[2017-03-29 15:19] dmitry-zhuravlev commented on #25
Should be already done:
![untitled](https://cloud.githubusercontent.com/assets/6297697/24462260/35a69e36-14ac-11e7-9a9d-631885b25146.png)

[2017-03-29 15:19] #25 closed

[2017-03-29 15:21] #35 closed

[2017-03-29 15:22] #27 closed

[2017-03-29 15:25] dmitry-zhuravlev commented on #7
@sargunster Does this issue still valid for you?

[2017-03-29 15:26] #10 closed

[2017-03-29 15:39] dmitry-zhuravlev commented on #5
@juherr  `SyncBuildFileAction` deprecated and not used any more in the latest plugin. With the latest Kobalt and IDEA plugin consider to use proxy configuration also for Kobalt itself. See HTTP proxy settings here:  http://beust.com/kobalt/documentation/index.html

[2017-03-29 15:39] #5 closed

[2017-03-29 15:56] dmitry-zhuravlev commented on #55
Retested Ktor project on the latest version of Kobalt and IDEA plugin and it works for me. So I'm closing the issue.

[2017-03-29 15:56] #55 closed

[2017-03-29 16:30] dmitry-zhuravlev commented on #1
Looks like outdated issue. `KobaltProjectComponent` changed significantly since the mentioned stacktrace.

[2017-03-29 16:30] #1 closed

[2017-03-29 16:32] dmitry-zhuravlev commented on #2
@pabl0rg Still valid for you? Didn't saw such CPU consuming.....

[2017-03-29 16:34] pabl0rg commented on #2
@dmitry-zhuravlev I haven't had this problem in weeks. So it seems fixed to me.

[2017-03-29 16:34] #2 closed

[2017-03-29 16:51] cbeust commented on #59
Let's use 1.8 as default, then. Users using an older version will be a bit inconvenienced but they are probably a minority.

Otherwise, sure, Kobalt could send you this information, can you file an issue for Kobalt for this?

Thanks!

[2017-03-29 17:04] sargunv commented on #7
Nope, I haven't had it happen in a long time.

[2017-03-29 17:04] #7 closed

[2017-03-29 17:18] kyonifer commented on #54
@dmitry-zhuravlev any chance you might be able to revisit this issue? I'm unable to get the "Download" button workaround to work here (always says `Sources not found: Sources for '**.jar' not found`) and downloading sources manually is tedious.

[2017-03-30 09:05] dmitry-zhuravlev commented on #54
@kyonifer I guess that you are behind corporate proxy... I filled some bug about it https://youtrack.jetbrains.com/issue/IDEA-170595 It seems that configured HTTP proxy ignored for such functionality.

In general I agree with you. From another hand still there is places with bad connection to internet and download sources in this case will take additional bandwidth effort.

Maybe we need to think

[2017-03-30 09:08] dmitry-zhuravlev commented on #7
Thanks for feedback!

[2017-03-30 09:09] dmitry-zhuravlev commented on #2
Thanks for feedback!

[2017-03-30 09:48] dmitry-zhuravlev commented on #59
:) Probably can agree: lets set default 1.8 to majority first.
FYI created the corresponding issue https://github.com/cbeust/kobalt/issues/371

[2017-03-30 09:56] #59 closed

[2017-03-30 13:27] cbeust commented on #54
Before I switched to Aether, `./kobaltw --resolve xxx` would also force a download of the sources. I just checked and this functionality went away with the migration, but I can bring it back.

Would this help, @dmitry-zhuravlev? When the user says they want to download the sources, could you then just issue a `--resolve` of the dependency and point to these sources?

Also, it looks like IDEA alrea

[2017-03-30 13:31] kyonifer commented on #54
I'm behind a firewall, but no HTTP proxy is needed and in general outbound connections should work. The gradle plugin's sources-grabber as well as normal `./kobaltw` usage works fine without a proxy. Is there a way to coax a better error out of intellij? The idea.log doesn't have anything related in it.

[2017-03-30 13:37] juherr commented on #5
@dmitry-zhuravlev Ok, thanks for the answer.

Does it mean `IDEA plugin` will use settings from `settings.xml` or from the IDEA settings? Both, with a fallback from one to the other, could be a good idea IMO :)

[2017-03-30 14:50] dmitry-zhuravlev commented on #5
No. IDEA plugin uses proxy settings specified in IDEA but Kobalt have their own settings and use it from `settings.xml`

For the first glance looks attractive :)
But this "magic" fallback from one to another could confuse users and also complicates workflow of integration between IDEA plugin and Kobalt.
Here we should be more consistent to other build systems like Maven and Gradle:
The proxy setti

[2017-03-30 15:01] juherr commented on #5
Ok, looks good. Thanks for the answer :)

[2017-03-30 15:48] dmitry-zhuravlev commented on #54
@cbeust I think that manual mechanism is already present and when https://youtrack.jetbrains.com/issue/IDEA-170595  will be fixed I hope it will work in all cases.
By the way I'm talking about something like `--resolveSources` functionality which will be helpfull to download sources\javadoc for all dependencies mentioned in `Build.kt`. This will be very helpful because I like the way what Gradle d

[2017-03-30 16:04] dmitry-zhuravlev commented on #54
I did some preparation in IDEA plugin:
Now plugin is able to scan directory where Kobalt download dependencies jars. If it finds `*sources.jar` and `*javadoc.jar` then it will be attached to corresponding library.

So it would be good to have `--resolveSources` `--resolveJavadoc` parameters in Kobalt server. If the server receive `--resolveSources` then it should download all sources for all depen

[2017-03-30 16:12] cbeust commented on #54
I like the idea of doing that but just for the server, will file an issue. Thanks for the suggestion!

[2017-03-30 21:54] cbeust commented on #71
I just took a look on the server side and I'm not seeing any duplication:

![image](https://cloud.githubusercontent.com/assets/92322/24527800/b176635a-1558-11e7-9e36-d6aad023588d.png)

How can I reproduce this?

[2017-03-31 05:01] dittert opened #75 "Stackoverflow"
Plugin: 1.123
Kobalt:
06:59 $ ./kobaltw --version
Kobalt 1.0.41, Wrapper 1.0.41

null
java.lang.StackOverflowError
	at com.intellij.openapi.vfs.newvfs.impl.VirtualDirectoryImpl.a(VirtualDirectoryImpl.java:101)
	at com.intellij.openapi.vfs.newvfs.impl.VirtualDirectoryImpl.refreshAndFindChild(VirtualDirectoryImpl.java:273)
	at com.intellij.openapi.vfs.newvfs.VfsImplUtil.refreshAndFindFileByPath(VfsI

[2017-03-31 05:04] dittert commented on #73
Where do I find that setting?

[2017-03-31 05:28] dmitry-zhuravlev commented on #71
You should revert my commit first https://github.com/dmitry-zhuravlev/kobalt-intellij-plugin/commit/81defd2b21bd98fbc0e45a5808a3a9c0b5a80012

[2017-03-31 06:29] cbeust commented on #71
I'm showing the server side.

On Mar 30, 2017 10:28 PM, "Dmitry Zhuravlev" <notifications@github.com>
wrote:

[2017-03-31 08:04] pabl0rg commented on #71
I also have this problem (kobalt 1.0.41, plugin 1.123, IJ 2016.3)

[2017-03-31 12:43] dmitry-zhuravlev commented on #75
Also got it only one time. But still don't have steps to reproduce it. @dittert Any hint?

[2017-03-31 12:58] dittert commented on #75
I have no idea how this might have happened (as I didn't notice the error icon right away). Sorry...

[2017-03-31 14:00] dmitry-zhuravlev commented on #73
@dittert
Plugin version 1.123
Kobalt version since 1.0.33

In settings:
![image](https://cloud.githubusercontent.com/assets/6297697/24553636/80bf1f3c-1633-11e7-87c9-8f59cce23354.png)
Should be text filed present:
![image](https://cloud.githubusercontent.com/assets/6297697/24553663/9042e560-1633-11e7-8661-f84c7d39bca4.png)

[2017-03-31 14:10] dmitry-zhuravlev commented on #71
Very strange... maybe it is some serialization/deserialization issue. Anyway the problem will be solved by using Set instead of List on both sides.

[2017-03-31 18:15] cbeust opened #76 "Add support for multiple build directories"
As of 1.0.44, `getDependenciesGraph` returns an additional `buildContentRoots` parameter:

[code]

Each item in this array should be added as a Content Root for the `Build.kt` module, and then, each of them should add a source directory called `"src"`.

For the example above, this means that from the root of the project, both `kobalt/src` and `modules/test/kobalt/src` contain build files.

[2017-04-01 00:08] rhencke opened #77 "Occasionally, IntelliJ cannot connect to Kobalt with: 'Error:Software caused connection abort: recv failed'"
This is on:
* Windows 10 (version 1607, OS build 15031.0)
* IntelliJ IntelliJ IDEA 2017.1 (Build #IU-171.3780.107)
    * JRE: 1.8.0_112-release-736-b13 amd64
    * JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
* Kobalt plugin 1.123
* Kobalt version 1.0.44

When attempting to synchronize a Kobalt project, it will sometimes error out with the following message:

[code]

For example, one set of st

[2017-04-01 00:10] ethauvin commented on #77
[code]
before starting IDEA is a workaround until it is fixed.

[2017-04-01 00:11] rhencke opened #78 "kobaltw.bat employs creative line wrapping in the IntelliJ terminal on Windows"
I couldn't think of how else to describe this.

![image](https://cloud.githubusercontent.com/assets/178348/24573195/2b06084c-164e-11e7-95ca-502a30d786eb.png)

[2017-04-01 01:25] cbeust commented on #77
I see this `Error:Software caused connection abort: recv failed` very often indeed, and pretty much whenever I open a project.

[2017-04-01 02:27] cbeust commented on #78
PowerShell?

I'm using a bash instance on Cmder and it looks okay. I'm guessing it's because of the eternal `\r\n` vs/ `\n` debate between Windows and the rest of the world.

[2017-04-01 04:09] rhencke commented on #78
It's actually just fine in cmd.exe and PowerShell, if you run them normally (from the normal Command Prompt).

What's funny is it prints the Kobalt logo fine, but then goes crazy on the box art.  It's something specific to IntelliJ's console, which is puzzling.  I'll see if I can figure anything deeper than that.

[2017-04-01 04:20] rhencke commented on #78
Actually, I don't think this is a Kobalt bug at all.  I've got it down to a case where running ```echo $'\u2550\u2550\u2550\u2550\u2550'``` in a Bash terminal in IntelliJ yields the same results.  It's something about the funky pipe characters that throws it off, but it's not Kobalt.  It's IntelliJ.

[2017-04-01 06:31] dmitry-zhuravlev commented on #78
And what was the intention to run this bat from the bundled Terminal in IDEA? Why not simple run of the Kobalt task directly? But there still be some shift of the box art.... So probably it is an issue for https://youtrack.jetbrains.com/issues

[2017-04-01 06:40] dmitry-zhuravlev commented on #77
Do you all see it on Windows?
"Error:Software caused" can be simple ignored. I always have this on Windows and it seems like
http://stackoverflow.com/questions/2126607/official-reasons-for-software-caused-connection-abort-socket-write-error

So probably I can hide this error message or someone can suggest how to close websocket gracefully without send this error back to client?

[2017-04-01 11:04] dittert commented on #77
No, I'm seeing this on OS X as well.

[2017-04-01 13:27] cbeust opened #79 "Don't sync the build file on project open"
Whenever I open a project, the plug-in resyncs my build file (even if it doesn't need to), which

1. Forces me to reconfigure Kotlin for that project
2. Causes the display of the `recv failed` message (separate issue filed for that)

I think we should not sync automatically like that and ultimately, we shouldn't have to reconfigure Kotlin every time we sync (I know it's connected to the fact that

[2017-04-01 15:22] dmitry-zhuravlev commented on #79
Kotlin should be configured inside Build.kt script and you will not have that issue.

This will be probably muted.

[2017-04-01 15:38] cbeust commented on #79
Can you elaborate? How do I configure in the build file?

On Apr 1, 2017 8:22 AM, "Dmitry Zhuravlev" <notifications@github.com> wrote:

[2017-04-01 16:02] dmitry-zhuravlev commented on #79
As you remember before Kotlin 1.1 out there was some talks about Kobalt Kotlin configurator. Mentioned about it previously.... e.g. here https://github.com/cbeust/kobalt-intellij-plugin/issues/69#issuecomment-288984142

Also it could be done without this configurator by simple adding corresponding dependencies inside Build.kt file.

It is the only one proper way to configure Kotlin runtime- inside

[2017-04-01 16:05] cbeust commented on #79
Sorry I don't follow.

The build file should not contain extra dependencies just to keep the
plugin happy.

Can you give an example?

On Apr 1, 2017 9:02 AM, "Dmitry Zhuravlev" <notifications@github.com> wrote:

[2017-04-01 16:12] dmitry-zhuravlev commented on #79
It is not an extra dependency. Kotlin runtime lib it is regular compile time project dependency which should be explicitly present like other dependencies in the project.

[2017-04-01 23:06] rhencke commented on #78
Hi @dmitry-zhuravlev.  At the time I was unable to run the Kobalt tasks directly due to #77, so this was the next best thing I had available.

[2017-04-02 03:25] cbeust commented on #79
Oh I didn't realize that's all I needed. I just added `"org.jetbrains.kotlin:kotlin-runtime:${Versions.kotlin}"` and synced and indeed, I didn't get the "Configure Kotlin" dialog".

Great!

I'd rather avoid forcing users to explicitly add this dependency, though, so I think if Kobalt detects a Kotlin project, it will automatically add this dependency (and `getDependencyGraph()` will return it).

T

[2017-04-03 10:21] dmitry-zhuravlev commented on #79
Yeach it could be like this. But the users should not be forced to use Kotlin version which have Kobalt under the hood.... We again back to the main issue https://github.com/cbeust/kobalt/issues/317

In general: Kotlin version inside Kobalt should not affect Kotlin version inside Kobalt's project.
E.g. user should be able to configure Kotlin embedded compiler together with Kotlin runtime of versio

[2017-04-03 13:02] #79 closed

[2017-04-03 13:05] dmitry-zhuravlev commented on #79
By the way I fixed the cause of "sync on every start". But we should take in mind https://github.com/cbeust/kobalt-intellij-plugin/issues/79#issuecomment-291104165 and https://github.com/cbeust/kobalt/issues/317

[2017-04-03 13:26] dmitry-zhuravlev commented on #77
@cbeust The mentioned problem can be fixed by remove explicit `session.close()`
inside `onWebSocketConnect` callback:
https://github.com/cbeust/kobalt/blob/23bbcd4d84f65ae5cfb8f06750442dd53273ed36/src/main/kotlin/com/beust/kobalt/app/remote/GetDependencyGraphHandler.kt#L121-L121

It seems that this `close()` invocation prevents websocket client inside IDEA plugin to disconnect gracefully.

[2017-04-03 14:11] cbeust commented on #77
I'll remove it and get back to you.

[2017-04-03 17:25] #77 closed

[2017-04-03 17:25] cbeust commented on #77
Done and deployed in 1.0.48.

[2017-04-04 12:40] dmitry-zhuravlev commented on #76
@cbeust Is it possible, that some of the directories mentioned in `buildContentRoots` not exist?

[2017-04-04 12:46] cbeust commented on #76
No, this should not happen.

[2017-04-04 14:34] #76 closed

[2017-04-06 14:11] dmitry-zhuravlev commented on #79
Actually maybe it is a good solution together with directive `kotlinCompiler {version = "...."}`  But in case if e.g. user have only Java based project.... In this case you shouldn't send Kotlin dependencies in `getDependencyGraph()`. @cbeust Any thoughts how to determine such case?

[2017-04-06 15:26] dmitry-zhuravlev commented on #54
Plugin 1.124 and the latest Kobalt have the ability to specify download sources/javadoc policy for all dependencies specified in `Build.kt`:
![image](https://cloud.githubusercontent.com/assets/6297697/24762221/6b1e7e58-1af6-11e7-9f25-93490a26a4f0.png)

[2017-04-06 15:26] #54 closed

[2017-04-06 15:29] dmitry-zhuravlev commented on #71
Duplicates should be filtered by using `Set` collection.

[2017-04-06 15:29] #71 closed

[2017-04-06 15:32] dmitry-zhuravlev commented on #3
@pabl0rg Can you please recheck if this issue still valid for you?

[2017-04-06 15:36] dmitry-zhuravlev commented on #4
`com.beust.kobalt.intellij.BuildModule` was deprecated and not used anymore.
Probably I can close this issue.
@antonarhipov Thanks for filling this issue! If you see any problems you are always welcome to fill some issue again ;)

[2017-04-06 15:36] #4 closed

[2017-04-06 15:48] dmitry-zhuravlev commented on #42
Just rechecked again http://github.com/cbeust/klaxon with the latest plugin and Kobalt. All seems to be fine.

[2017-04-06 15:48] #42 closed

[2017-04-06 17:05] cbeust commented on #79
Yes, that's trivial with Kobalt's architecture: the Kotlin plug-in can contribute additional classpath entries if it detects `.kt` files.

[2017-04-06 18:53] pabl0rg commented on #3
Kobalt now supports mixed java + kotlin projects, so it no longer requires that i define two projects for the same source root.

However, I tested it out [here](https://github.com/pabl0rg/kobalt-mixed-example) and IJ threw no errors and created the project like this:

<img width="238" alt="screen shot 2017-04-06 at 12 52 24 pm" src="https://cloud.githubusercontent.com/assets/10501896/24770648/ed1e

[2017-04-06 18:53] #3 closed

[2017-04-07 00:35] kyonifer commented on #54
Awesome-- this works perfectly for me now, thanks for the addition!

[2017-04-07 10:59] dmitry-zhuravlev commented on #52
@jkbbwr Is it still valid for you with the latest Kobalt version and the latest plugin?

[2017-04-07 11:01] dmitry-zhuravlev commented on #63
The latest IDEA have Kotlin 1.1 on the board. Removed some workaround for this in https://github.com/cbeust/kobalt-intellij-plugin/commit/77277ab3af2efeb605c9af8d47868e5d85db445c

[2017-04-07 11:01] #63 closed

[2017-04-07 13:04] dmitry-zhuravlev commented on #26
Looks like obsolete issue.

[2017-04-07 13:04] #26 closed

[2017-04-07 13:08] dmitry-zhuravlev commented on #22
Looks like an obsolete issue.

[2017-04-07 13:08] #22 closed

[2017-04-07 14:15] #75 closed

[2017-04-07 18:48] jkbbwr commented on #52
Don't know haven't been working with it for a while now

[2017-04-11 09:59] #52 closed

[2017-04-11 10:58] dmitry-zhuravlev commented on #79
Great! In this case lets send at least `org.jetbrains.kotlin:kotlin-runtime:${Versions.kotlin}` for compile scope and `org.jetbrains.kotlin:kotlin-test:${Versions.kotlin}` for test scope in `getDependencyGraph()`. I'll make the corresponding issue for that.

[2017-04-11 13:50] dmitry-zhuravlev commented on #28
@cbeust @pabl0rg
Just some example of how this task can look like:

[code]

[2017-04-12 09:06] dmitry-zhuravlev commented on #72
Fixed in IntelliJ IDEA 2017.1.1 Build #IU-171.4073.35, built on April 6, 2017

[2017-04-12 09:06] #72 closed

[2017-04-17 16:09] cbeust commented on #79
Actually that's already happening:  https://github.com/cbeust/kobalt/blob/master/src/main/kotlin/com/beust/kobalt/plugin/kotlin/KotlinPlugin.kt#L102

Not sending `kotlin-test` for test dependencies though, not sure we should.

[2017-04-18 10:21] dmitry-zhuravlev commented on #79
This doesn't work when Kobalt server send dependencies to plugin... Just recheched in Kobalt 1.0.68

Actually yes, you are right. Expecialy in case if user don't want to use it.

[2017-04-19 13:21] dmitry-zhuravlev commented on #70
Kobalt sources now packaged within zip distribution since 1.0.68
Also Kobalt and plugin have ability to download sources/javadoc for dependencies mentioned in `Build.kt`

[2017-04-19 13:21] #70 closed

[2017-04-28 03:10] ethauvin opened #80 "Plugin not longer working after Kotlin 1.1.2 update."
All the Kobalt projects that I have updated to Kotlin 1.1.2, per IDEA's popup recommendation, are no longer functional.

They get into the following loop over and over:

![2017-04-27 16_55_52-kobalt-exec - k__kotlin_kobalt-exec - execplugin kt - intellij idea 2017 1 2](https://cloud.githubusercontent.com/assets/705618/25512783/1a1ae538-2b85-11e7-9564-e299af1c1538.png)
![2017-04-27 16_56_12-kobalt-

[2017-04-28 11:44] #80 closed

[2017-04-28 16:22] ethauvin commented on #80
Fix didn't help. The only difference I could see is that now I can select `as Kotlin (Kobalt) module`, which does stop the loop behavior, but now it is not resolving dependencies:

![2017-04-28 09_19_06-kobalt-exec - k__kotlin_kobalt-exec - kobalt-exec - _src_main_kotlin_net_](https://cloud.githubusercontent.com/assets/705618/25537633/240434fe-2bf4-11e7-9372-d55b930b7a62.png)

[2017-05-01 18:10] ethauvin commented on #80
Any progress on this? Still can't use the plugin while it's looping like that.

[2017-05-01 18:16] cbeust commented on #80
For what it's worth, everything seems to be working for me (both on MacOS and Windows).

@dmitry-zhuravlev, any idea what's going on with Eriks' configuration?

[2017-05-01 18:28] ethauvin commented on #80
To be sure I created a new project:

[code]

And imported it into IDEA:

![2017-05-01 11_19_41-plugin-test - k__test_plugin-test - intellij idea 2017 1 2](https://cloud.githubusercontent.com/assets/705618/25589364/29a67e20-2e61-11e7-97e6-ad039048e80a.png)
![2017-05-01 11_20_06-plugin-test - k__test_plugin-test - intellij idea 2017 1 2](https://cloud.githubusercontent.com/assets/705618/25589366/2b9

[2017-05-02 08:57] dmitry-zhuravlev commented on #80
@ethauvin I think the problem here that you choose not proper Kotlin lib configurator.
The proper one is `as Kotlin (Kobalt) module`. The rest configurators have no idea about Kobalt project and cannot adjust the `Build.kt` in corresponding way.

Also there was a dissucussion with @cbeust  about sending Kotlin libs directly to plugin when refresh button pressed: **https://github.com/cbeust/kobalt-

[2017-05-02 14:05] cbeust commented on #80
@dmitry-zhuravlev But until this is done automatically, just specifying `kotlin-stdlib` and `kotlin-runtime` in your dependencies should work as well, right?

[2017-05-02 14:24] dmitry-zhuravlev commented on #80
Yep, this is what exactly what `as Kotlin (Kobalt) module` do. But also can be done manually simple by editing `Build.kt` `dependencies` section.

 FYI just created some PR to Kotlin plugin: https://github.com/JetBrains/kotlin/pull/1067
this will help to hide `as Kotlin (Java) module` and `as Kotlin (JavaScript) module`. It would be good if JB accept it and this will hide default configurators jus

[2017-05-02 16:20] ethauvin commented on #80
@dmitry-zhuravlev As stated in https://github.com/cbeust/kobalt-intellij-plugin/issues/80#issuecomment-298042958, choosing `as Kotlin (Kobalt) module` does not work either. It does stop the looping but no longer finds Kobalt's own libraries.

[2017-05-02 16:33] ethauvin commented on #80
Here it is in pictures:

![2017-05-02 09_26_49-kobalt-exec - k__kotlin_kobalt-exec - kobalt-exec - _src_main_kotlin_net_](https://cloud.githubusercontent.com/assets/705618/25628199/3879d5fa-2f1a-11e7-96fe-97bf5ffe826f.png)
![2017-05-02 09_27_06-configure kotlin in project](https://cloud.githubusercontent.com/assets/705618/25628201/3a07e36c-2f1a-11e7-895b-6b1acbc53f35.png)
![2017-05-02 09_27_56-kob

[2017-05-03 10:10] dmitry-zhuravlev commented on #80
Hmm... But on the last screenshot I see that some classes from `com.beust.*` and `com.google.*` packages are not resolved. I guess that this should be from `compileOnly("com.beust:$kobaltDependency:")` dependency.
I tried to add ` compile("org.jetbrains.kotlin:kotlin-stdlib:1.1.2-2")` in `Build.kt` and all classes from the standard Kotlin lib resolved fine.

@cbeust did Kobalt server even send `co

[2017-05-03 16:31] ethauvin commented on #80
Yes, that fixed the issue. Makes no sense, `compileOnly` was implemented weeks ago, and there weren't any issues until I updated the Kotlin runtime.

[2017-05-09 03:37] ethauvin commented on #80
@cbeust can you make sure that `compileOnly` deps are sent to the plugin? I'd do it, but I know nothing about the server portion of kobalt.

[2017-05-09 04:18] cbeust commented on #80
Will do but you can already quickly check yourself:

[code]

Then push the Sync button in IDE, the server should give you the list of dependencies it's sending to the IDE.

[2017-05-16 16:58] cbeust opened #81 ""Configure with Kobalt" doesn't do anything"
I see two issues with this action:

- After running it, I still see the "Kotlin not configured" warning
- It adds the `kotlin-test` dependency even if it's already there:

![image](https://cloud.githubusercontent.com/assets/92322/26118290/350af62e-3a1e-11e7-9e91-b25895f7eb7a.png)

[2017-05-17 12:26] dmitry-zhuravlev commented on #81
Modification of `Build.kt` doesn't lead to project re-import  unless "Auto-import" option explicitly specified:

![image](https://cloud.githubusercontent.com/assets/6297697/26153508/52803218-3b14-11e7-9fbb-18ab3b4f5aae.png)

It is a known issue at the moment.
Anyway not a big deal since if Kobalt server will send Kotlin libs to plugin "Configure with Kobalt" will not need anymore. (see https://git

[2017-05-17 15:31] dmitry-zhuravlev commented on #81
Also I think that I need to remove `kotlin-test` dependency configuration because it is optional and not really a part of Kotlin runtime.

[2017-05-18 15:14] #81 closed

[2017-07-11 20:12] uris77 opened #82 "Project is detached when there is a syntax error in the dependencies."
I just started playing around with `kobalt` and discovered some wonky behavior when adding a dependency. For example, this is valid `gradle`:

`compile("org.springframework.boot:spring-boot-starter-actuator")`

but it won't work with kobalt because it needs to end with either the version number or `:`:

`compile("org.springframework.boot:spring-boot-starter-actuator:")`

Also, for me, single quote

[2017-07-11 20:31] cbeust commented on #82
I'll let @dmitry-zhuravlev comment on the general issue you saw but FYI, single quotes are not valid string delimiters in Kotlin, so it's expected that your build file would fail to compile if you used those.

[2017-07-11 22:40] uris77 commented on #82
This is a screenshot of the pop up.

Also appears after the computer hibernates and I resume working.

![screen shot 2017-07-11 at 16 39 39](https://user-images.githubusercontent.com/1095741/28094020-a08aecdc-6657-11e7-8aef-c3ae86bb2791.png)

[2017-07-12 16:28] cbeust commented on #82
@dmitry-zhuravlev Can you help @uris77 ?

[2017-07-13 13:27] dmitry-zhuravlev commented on #82
Hm... Usually when `Build.kt` file not valid (Kotlin syntax error or dependency not found) the Kobalt server send such errors to plugin.

I tried to reproduce the mentioned problem with `compile("org.springframework.boot:spring-boot-starter-actuator")` and before detach I see the following error in Messages tab:
![image](https://user-images.githubusercontent.com/6297697/28168413-b62fcac6-67e7-11e7

[2017-07-13 13:42] uris77 commented on #82
I need to replace my battery, for what its worth, I don't have this issue with gradle.

[2017-07-13 13:44] cbeust commented on #82
Roberto, can you upload your project to GitHub or attach it to this issue?

On Jul 13, 2017 6:42 AM, "Roberto Guerra" <notifications@github.com> wrote:

[2017-07-13 13:58] uris77 commented on #82
Sure, I'll just remove some sensitive details and upload it.
Thank you for your patience.

[2017-07-13 16:16] uris77 commented on #82
Here is the sample project https://github.com/uris77/hubspot-kobalt

[2017-07-19 10:43] dmitry-zhuravlev commented on #82
@uris77 Thank you for providing the sample project.
Tried to import it with Kobalt 1.0.87 and Kobalt IDEA plugin 1.128 and see no errors so far.
Maybe you can provide some idea.log (Help--> Show Log in explorer) with exceptions?

[2017-07-22 04:50] dector opened #83 "Intellij IDEA project isn't synced ("projectDataManager must not be null")"
__Steps to reproduce__:

1. Create new kobalt project (with kotlin sources)
[code]

2. Open project is Intellij IDEA (with installed plugin v1.128).
3. `Tools` -> `Kobalt` -> `Find detached Kobalt project`.
4. Click on `Import Kobal project` in displayed popup with title `Detached Kobal project found`.

__Expected result__:
Kobalt project is synced with Intellij IDEA.

__Actual result__:
IDE fatal

[2017-07-22 08:39] dmitry-zhuravlev commented on #83
@dector Init IDEA project from Kobalt is deprecated. Please use IDEA directly to setup Kobalt project.

[2017-07-22 08:43] dmitry-zhuravlev commented on #83
@dector sorry, I mean "init idea" is something that should be deprecated, but as far as I can see you are using "init kotlin" parameters. I'll take a look. Anyway you still can create Kobalt project directly fron IDEA without using comand line at all.

[2017-07-22 20:43] dector commented on #83
@dmitry-zhuravlev Thanks. Suggested option to create kobalt project within IDEA works.
Ping me if you'll need some help with additional debuggin for this issue.

[2017-07-25 09:29] #83 closed

[2017-07-25 15:15] dector commented on #83
@dmitry-zhuravlev Issue isn't reproducible on v1.129. Thanks a lot!

[2017-07-25 15:33] dmitry-zhuravlev commented on #83
@dector Thanks for fill detailed issue and for retest ;)

[2017-08-11 02:03] ethauvin opened #84 "Plugin not working with IntelliJ IDEA 2017.2.1"
I get the following error:

[code]

Sounds like they may have changed the API.

[2017-09-04 15:55] dmitry-zhuravlev commented on #84
@ethauvin Just made some compatibility changes in 1.130 version of plugin. Does it solve the problem to you?
Otherwise please give me some test steps to reproduce the mentioned problem.

[2017-09-05 01:06] ethauvin commented on #84
Same problem with the new plugin, and also after updating to IDEA 2017.2.3.

As far as testing, pretty easy:

`kobatlw --init kotlin`

then import into IDEA...

![2017-09-04 18_04_08-new folder - c__users_erik_desktop_new folder - build kt - _kobalt_src_bu](https://user-images.githubusercontent.com/705618/30041057-94650b9e-919b-11e7-807c-916928273bf6.png)

[2017-09-05 12:05] dmitry-zhuravlev commented on #84
Hm... weird...
The exception means that sync of project failed. Maybe it is a part of communication between plugin and Kobalt server. Actually I tried to reproduce the problem with Kobalt 1.0.89 and it works fine.
@ethauvin Do you use different version of Kobalt? Also could you please attach IDEA logs with mentioned problem (can be found in Help->Show Log In Explorer)

[2017-09-05 19:08] ethauvin commented on #84
@dmitry-zhuravlev Using stock 1.0.89.

Log enclosed, from start to quit.

[idea.zip](https://github.com/cbeust/kobalt-intellij-plugin/files/1278593/idea.zip)

[2017-09-05 19:19] ethauvin commented on #84
@dmitry-zhuravlev Since you mentioned the Kobalt server, I used:

`kobaltw --server --force`

before starting IDEA, and that temporarly fixes the problem.

I say temporarily because that only works for the first opened project, if I switch to another project, I need to manually restart the server.

[2017-09-06 10:23] dmitry-zhuravlev commented on #84
Thanks for logs!
Looks like the problem of serialization during RMI call inside IDEA's external system API. But still wondering why it is not reproducible on my side.

[2017-10-17 19:36] ltennstedt opened #85 "Please add a license"
Hello together,

maybe I have missed it. But if don't, is it possible to add one?

Thanks!

[2017-11-27 23:17] cbeust opened #86 "Getting `NotSerializableException` when importing a new project"
![image](https://user-images.githubusercontent.com/92322/33294538-f3a60d2a-d385-11e7-8e10-dc2bfd711794.png)

![image](https://user-images.githubusercontent.com/92322/33294563-1305fb8a-d386-11e7-9511-4f6e5891d9b0.png)

[2017-11-27 23:18] cbeust commented on #86
[code]

[2017-12-08 10:21] dmitry-zhuravlev commented on #86
Weird exception... Just tried to import "testng" project with latest Kobalt 1.0.92 and IDEA 2017.3 and it successfully imported:
![image](https://user-images.githubusercontent.com/6297697/33761582-a1e91c3c-dc1a-11e7-9b03-4634246e672a.png)

[2017-12-08 19:19] goreRatzete opened #87 "IntelliJ wizard results in weird project structure"
When using the IntelliJ new project wizard to create a Kobalt-Kotlin project, the resulting project structure is very different from the one achieved by the cli command `kobaltw --init kotlin`.

![image](https://user-images.githubusercontent.com/9032394/33781425-dbd62a2c-dc54-11e7-9f14-a5347b766e47.png)

As can be seen in the example above, there is no `root/src/main/kotlin/com.example/Main.kt`.
I

[2017-12-08 19:34] cbeust commented on #86
It's working for me now, not sure what I did, though, but it did prevent me from importing anything for a while. Closing for now.

[2017-12-08 19:34] #86 closed

[2018-01-11 20:33] TimLavers opened #88 "Project structure lost due to spurious dependency problem"
I've got these dependencies in my build file:

object Versions {
    val kotlin = "1.2.10"
    val kotlintest = "2.0.7"
    val junit = "4.12"
    val derby = "10.13.1.1"
    val hibernate = "5.2.11.Final"
    val ktor = "0.9.0"
}

    dependencies {
        compile("org.jetbrains.kotlin:kotlin-runtime:${Versions.kotlin}")
        compile("org.jetbrains.kotlin:kotlin-stdlib:${Versions.kotlin}")

[2018-01-11 21:03] dmitry-zhuravlev commented on #88
Hm, weird... Could you please share an example project to fast reproduce this problem?

[2018-01-12 22:47] TimLavers commented on #88
Build file attached (could only add as zip). It has four projects. The last one is the issue - see the comment at the end.

[Build.zip](https://github.com/cbeust/kobalt-intellij-plugin/files/1627744/Build.zip)

[2018-02-01 15:58] jkbbwr opened #89 "Fails to import/sync on 2018.1 EAP"
Fails to import/sync on 2018.1 EAP with the following error

[code]

[2018-02-15 14:25] fuyutsuki commented on #82
I have the same problem...
I want to put external library `cn.nukkit` in dependency...
`Build.kt`
[code]

[2018-02-15 19:36] cbeust opened #90 "Unclear error message when there's an error in `Build.kt`"
I thought that was fixed some time ago but apparently not.

I recently had a syntax error in my `Build.kt` and syncing my project would simply abort very quickly with no error message.

As far as I remember, the Kobalt runner is providing you the error message if the `Build.kt` cannot be compiled, right? (if not, let me know)

Could you display that error message prominently if the server sends it

[2018-04-19 20:10] DirkDeVisser opened #91 "Error when creating or importing Kobalt project in IntelliJ 2018.1"
Hello,

When trying to create a new project or importing an existing Kobalt project in IntelliJ idea Ultimate I get the following error on Kobalt sync: `Could not initialize class com.intellij.externalSystem.JavaProjectData`
Full Idea [log](https://gist.github.com/DirkDeVisser/c709bd2e200aafe1783b5c65039d712a) .

Versions:
- Kobalt plugin: `1.130`
- Kobalt: `1.0.114`
- IntelliJ Idea:
[code]

[2018-04-19 20:55] DirkDeVisser commented on #91
Duplicate of #89 sorry

[2018-04-19 20:55] #91 closed

[2018-04-26 17:50] pabl0rg commented on #89
I've got the same problem now that intellij 2018.1 is out (no longer EAP)

[2018-04-27 03:36] pabl0rg commented on #89
There are no localized versions of JavaCoreBundle.properties

https://github.com/JetBrains/intellij-community/tree/master/java/java-psi-api/src/messages

But one would think that the default is enough

[2018-04-28 11:34] pabl0rg commented on #89
I opened an issue on the IJ youtrack and they closed it indicating that this should be handled by the plugin.

https://youtrack.jetbrains.com/issue/IDEA-191059

[2018-05-03 20:17] #89 closed

[2018-05-03 20:27] dmitry-zhuravlev commented on #89
I think that duplicating core bundle messages inside plugin not a good idea but we can leave it as a workaround.

[2018-05-16 10:23] barotashish commented on #88
Hi Team,

when I am starting new project in my Android studio, I am getting following error :-

Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.android.support.constraint:constraint-layout:1.1.0.
Open File
Show Details

Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.android.support.constraint:constraint-layout:

[2018-05-16 10:32] barotashish commented on #88
Now also getting IDE Fatal error

![screenshot from 2018-05-16 16-01-12](https://user-images.githubusercontent.com/21197417/40112074-7a0a7ec4-5922-11e8-8584-6552a28851cd.png)

[2018-06-02 20:47] dilbernd opened #93 "JVM target error mark in IDEA doesn't go away after setting target in Build.kt and reimporting"
IDEA shows an error marker on calling public defender methods, e.g. on `Stream.concat()`:
"Calls to static methods in Java interfaces are prohibited in JVM target 1.6. Recompile with '-jvm-target 1.8".

As indicated by https://github.com/cbeust/kobalt/issues/422, I have
[code]
set in build.kt. My project compiles from Kobalt CLI without issue.

The error marker persists after explicitly refreshing

[2018-07-25 21:50] whiteknight- opened #94 "Ktor project structure not recognized in IntelliJ IDEA after initial kobalt setup"
I can't get IntelliJ IDEA to recognize Ktor after importing my project through the Kobalt plugin. I did the init, assemble, and compile steps before trying to import the project in IDEA—no folders appear in the project window. Am I missing something? Here's my build.kt file:

[code]

[2018-07-26 15:58] dmitry-zhuravlev commented on #94
Hi @whiteknight-
Could you tell me which version of Kobalt do you use? Which directory layout of the project do you have?

As far as I understood you init project by using one of the Kobalt's template. Which one do you use? Did you try to create Kobalt project by using IDEA's new project wizard?

[2018-07-26 20:28] knight-robert commented on #94
Hi @dmitry-zhuravlev,

I just updated to the latest version of IntelliJ. It seems to have fixed everything. Thank you for looking.

**IntelliJ IDEA Community 2018.2 (build 182.3684.101)
Kobalt v1.0.114.
Kobalt plugin v1.131
Kotlin v1.2.51
OpenJDK Runtime Environment (Zulu build 9.0.7.1+1)**

[2018-07-27 12:38] dmitry-zhuravlev commented on #90
I guess it is related to some nasty exception wrapping in ExternalSystemAPI see my [PR](https://github.com/JetBrains/intellij-community/pull/840)
So like a workaround I added some unwrap logic to handle this. This should be fixed in 1.132 version.

[2018-07-31 20:53] whiteknight- opened #95 "Error importing project into IntelliJ IDEA after plugin update"
I am unable to import a Kotlin Ktor project into IntelliJ IDEA. I went through the standard _Getting Started_ setup.

![untitled](https://user-images.githubusercontent.com/10035837/43486163-f5c3b996-94c7-11e8-9025-7d0642cf6e70.png)

**IntelliJ IDEA Community 2018.2 (build 182.3684.101)
Kobalt v1.0.114.
Kobalt plugin v1.132
Kotlin v1.2.51
OpenJDK Runtime Environment (Zulu build 9.0.7.1+1)**

[2018-08-01 18:06] dmitry-zhuravlev commented on #95
@whiteknight- Can you please attach the corresponding Build.kt file? It looks that Kobalt itself failed during build file compilation.
@cbeust any thoughts?

[2018-08-02 01:32] knight-robert commented on #95
[code]

[2018-09-07 09:57] johanhaleby opened #96 "Cannot open a Kobalt due to UnknownSdkType cannot be cast to JavaSdkType error"
I'm trying to open an existing Kobalt project by just doing `File->New->Project From Existing Sources`, pointing to the Kobalt project and then trying to create/open it. But I run into this issue:

![image](https://user-images.githubusercontent.com/187029/45212194-8faa3280-b294-11e8-87a6-7c47d7b9e05c.png)

Is there anything I can do to resolve this?

[2018-09-07 10:00] johanhaleby commented on #96
Removing the [intellij-haskell](https://plugins.jetbrains.com/plugin/8258-intellij-haskell) plugin and the SDK it installed seemed to fix the problem. However I'd like to use both Haskell and Kobalt from Intellij so I'd prefer a better workaround/fix :)

[2018-09-07 15:41] dmitry-zhuravlev commented on #96
Hi @johanhaleby thabk you for publishing such issue. Could you please attach the log with all exception trace for the mentioned problem?

[2018-09-07 17:27] johanhaleby commented on #96
I got two different errors, first this when just both intellij-haskell AND the Haskell SDK was enabled:

[code]

and this when the intellij-haskell plugin was disabled but its SDK was still present in Intellij:

[code]

[2018-12-02 00:07] keturn opened #97 "Build.kt unresolved reference beust"
I've started up a brand new Kotlin project and am adding Kobalt to it.

Kobalt plugin v1.133
IntelliJ IDEA 2018.3 (Community Edition)
Build #IC-183.4284.148, built on November 20, 2018
JRE: 1.8.0_191-8u191-b12-0ubuntu0.18.10.1-b12 amd64
JVM: OpenJDK 64-Bit Server VM by Oracle Corporation
Linux 4.18.0-11-generic

I used IDEA's "New Project", then ran `kobaltw --init kotlin` from the command line, t

[2018-12-13 11:30] ghost commented on #88
barotashish : The IDE Fatal error with "java.lang.exception etcetera" looks like the strange things i have got with my project in Android Studio.
Several java files that i made were named in the log file, each one starting with "Outdated stub in index: file:" and then the absolute path of the file. In the editor those files were completely corrupted with log information, resulting in numerous comp

[2018-12-26 05:17] fuyutsuki commented on #97
I have a same issue on my environments.
- Kobalt plugin v1.13.3
- IntelliJ IDEA Ultimate 2018.3.2
- JRE: 1.8.0_171
- Win10 Home

[2019-01-24 00:07] pabl0rg opened #98 "dependencies not found (red) even though they are present in project structure and the kobalt compile task works"
I added a dependency and synched the project.

In the screenshot you can see that the xenomachina external library has been added to project structure no problem.  Also, I can run the kobalt compile/assemble tasks no problem.

But, when I edit a file that uses the depenency, the IDE thinks it is missing (marks it in red).

<img width="881" alt="screen shot 2019-01-23 at 6 02 33 pm" src="https://us

[2019-01-30 16:32] fuyutsuki commented on #97
This problem continues to occur even in:
- Kotlin 1.3.20
- IntelliJ IDEA Ultimate 2018.3.3
- JRE: 11
- Win10 Home 1809

[2019-02-04 16:02] clifftsung commented on #97
I have the same issue with Kotlin 1.3.20, IDEA 2018.3.3, JRE 8, Win 10 Pro
With IDEA Kobalt plugin installed and project initialized from console then imported

[2019-07-20 02:10] #95 closed

[2019-07-26 17:57] cbeust opened #99 "Plug-in no longer working in IDEA 2019.2"
Getting the following when trying to launch a debug configuration:

[code]

[2020-01-15 13:02] devvercer commented on #97
I also get this.  Using IDEA 2019.3 Kotlin 1.3.41.  I created project first from command line with "kobaltw --init kotlin"